
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>주문관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>
		> 기초관리 > 주문관리 > 주문서 조회
	</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
	<!-- 주문 검색,등록버튼 -->
	<div class="col-md-14">
		<div class="card card-warning color-pallete">
			<div class="card-header">
				<h3 class="card-title">
					<b>주문 조회</b>
				</h3>
			</div>
			<div class="card-body">
				<div class="tab-content" id="custom-tabs-two-tabContent">
					<!-- 주문검색 -->
					<form th:action="@{/product_management/order/orderList}" method="post">
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">주문검색</label>
							<div class="col-sm-2">
								<select name="searchKey" class="form-control custom-select">
									<option>:: 선택  ::</option>
									<option value="orderNum">주문번호</option>
									<option value="businessName">매입처</option>
									<option value="deliveryDate">납품일</option>
								</select>
							</div>
							<div class="input-group input-group-m" style="width: 600px;">
								<input type="text" name="searchValue" style="margin-left: 3%"
									class="form-control float-right" placeholder="검색어를 입력해주세요.">
								<div class="input-group-append"></div>
							</div>
								<div class="d-flex justify-content-center" style="margin: 0 10px 0 10px">
									<button type="submit" class="btn btn-info">
										<b>검색</b>
									</button>
								</div>		
								<div class="d-flex justify-content-center">
								<button type="button" class="btn btn-info">
									<b>등록</b>
								</button>
							</div>
						</div>

						<!-- 주문상태검색 -->
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">주문상태</label>
							<div class="col-sm-2">
								<select id="orderCode" class="form-control custom-select" name="searchState">
									<option>:: 선택  ::</option>
									<option value="state">승인</option>
									<option value="">반려</option>
									<option value="">진행중</option>
								</select>
							</div>

							<!-- 주문일자검색 -->
							<label class="col-sm-1 col-form-label" style="margin-left: 2%">주문일자</label>
							<div class="col-sm-2">
								<input type="date" id="date" class="form-control">
							</div>
							<th:block>
								<b>~</b>
							</th:block>
							<div class="col-sm-2">
								<input type="date" id="date" class="form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- 주문테이블 -->
	<div class="col-md-13" style="margin-top: -1%">
		<div class="card card-warning color-pallete">
			<div class="card-header p-0 pt-1">
				<h3 class="card-title"></h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-head-fixed text-nowrap text-center">
					<thead>
						<tr>
							<th>번호</th>
							<th>매입처</th>
							<th>주문번호</th>
							<th>납품일</th>
							<th>상태</th>
							<th>매입일시</th>
							<th>매장고유코드</th>
							<th>주문서상세내역</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(orderList)}" th:each="l : ${orderList}">
							<td th:text="${l.orderCode}"></td>
							<td th:text="${l.business.getBusinessName()}"></td>
							<td th:text="${l.orderNum}"></td>
							<td th:text="${l.deliveryDate}"></td>
							<td class="state-color" th:text="${l.state}"></td>
							<td th:text="${l.purchaseDate}"></td>
							<td th:text="${l.martCode}"></td>
							<td>
								<a th:href="@{/product_management/order/orderDetail}">
									<button type="button" class="btn btn-outline-secondary btn-xs">
										주문서 상세보기
									</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJs">
	
	<script type="text/javascript">
		$(function(){
			var stateGroup = $('.state-color');
			for(var i=0; i<stateGroup.length; i++){
				if($(stateGroup[i]).text() == '반려'){
					$(stateGroup[i]).css('color','red');
				}else if($(stateGroup[i]).text() == '승인'){
					$(stateGroup[i]).css('color','blue');
				}else{
					$(stateGroup[i]).css('color','green');
				}
			}
		});
	</script>

</th:block>
</html>
