
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>주문관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>
			> 기초관리 > 주문관리 > 주문서 등록
		</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<section class="content">
		<div class="content-header"></div>
				<div class="row justify-content-center" style="margin-top: -3%">
					<!-- Profile Image -->
					<div class="col-sm-2 card card-warning color-palette card-outline">
						<div class="card-body box-profile">
							<div class="text-center">
									<img th:src="@{/image/building.png}" alt="building-avatar"
										class="img-circle img-fluid">
							</div>

							<h3 class="profile-username text-center" style="margin-top: 20%">
								<b>사업장명</b>
							</h3>

							<p class="text-muted text-center">
								<input type="text" id="Name" class="form-control">
							</p>
							<ul class="list-group list-group-unbordered mb-4">
								<li class="list-group-item"><b>* 거래처 코드</b></li>
									<button type="button" class="btn-sm bg-info disabled color-palette" 
										data-toggle="modal" data-target="#exampleModalCenter1">거래처 찾기</button> 
								<input type="text" id="code" class="form-control" style="margin-top: 3%">
								<li class="list-group-item"><b>* 발주 관리번호</b> 
								<a class="float-right"><input type="text" id="Name"class="form-control"></a></li>
							</ul>
						</div>
						
					</div>
					

					<!--주문서입력폼  -->
					<div class="col-md-7">
						<div class="card card-primary">
							<div class="bg-warning color-palette btn-block card-header ">
								<b><i class="fas fa-check"></i>ㅤ주문서 작성</b>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label>담당자</label> <input type="text" id="staffLevel"
										class="form-control">
								</div>

								<div class="form-group">
									<label>요청일</label> <input type="date" id="date"
										class="form-control">
								</div>
								<!--  상품목록 -->
								<div class="col-md-16">
									<div class="card card-warning color-pallete">
										<div class="card-header">
											<h3 class="card-title">
												<b>주문목록</b>
											</h3>
										</div>

										<!-- /.card-header -->
										<div class="card-body" style="height: 470px;">
											<div style="margin-top: -1%"></div>
											<table class="table table-head-fixed text-nowrap text-center">
												<thead>
													<tr>
														<th>
															<button type="button"
																class="btn-sm bg-info disabled color-palette"
																data-toggle="modal" data-target="#exampleModalCenter2">상품찾기
															</button>
														</th>
														<th>수량</th>
														<th>단가</th>
														<th>공급가액</th>
														<th>부가세</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
													</tr>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>

													</tr>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>

													</tr>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>

													</tr>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>

													</tr>
													<tr>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>
														<td><input type="text" id="Name" class="form-control"></td>

													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="exampleModalCenter2" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalCenterTitle"
									aria-hidden="true">
									<div class="modal-dialog"
										style="max-width: 100%; width: auto; display: table;">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">상품목록</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="card-body">
													<table class="table table-bordered">
														<thead>
															<tr style="width: 50px">
																<th>번호</th>
																<th>상품명</th>
																<th>개수</th>
																<th>선택</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1.</td>
																<td>고당도 딸기</td>
																<td>1</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>

																</td>
															</tr>
															<tr>
																<td>2.</td>
																<td>고당도 포도</td>
																<td>1</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>
																</td>
															</tr>
															<tr>
																<td>3.</td>
																<td>고당도 멜론</td>
																<td>1</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>
																</td>
															</tr>
															<tr>
																<td>4.</td>
																<td>배추</td>
																<td>1</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>
																</td>
															</tr>
													</table>
												</div>
												</tbody>
											</div>
											<div class="modal-footer">
												<a href="goodsCheck"><button type="button"
														class="btn btn-secondary">선택</button></a>
												<button type="button" class="btn btn-primary"
													data-dismiss="modal">취소</button>
											</div>
										</div>
									</div>
								</div>
								<!-- 거래처 찾기Modal -->
								<div class="modal fade" id="exampleModalCenter1" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalCenterTitle"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">거래처
													찾기</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="card-body">
													<table class="table table-bordered">
														<thead>
															<tr style="width: 50px">
																<th>거래처코드</th>
																<th>거래처명</th>
																<th>대표자명</th>
																<th>선택</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1.</td>
																<td>##마트</td>
																<td>최민중</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>

																</td>
															</tr>
															<tr>
																<td>2.</td>
																<td>##마트</td>
																<td>정도혜</td>

																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>

																</td>
															</tr>
															<tr>
																<td>3.</td>
																<td>##마트</td>
																<td>오대성</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>
																</td>
															</tr>
															<tr>
																<td>4.</td>
																<td>##마트</td>
																<td>김지원</td>
																<td>
																	<div>
																		<a href="goodsCheck"><button type="button"
																				class="btn btn-xs btn-secondary">선택</button></a>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="modal-footer">
												<a href="goodsCheck"><button type="button"
														class="btn btn-secondary">예</button></a>
												<button type="button" class="btn btn-primary"
													data-dismiss="modal">아니오</button>
											</div>
										</div>
									</div>
								</div>
								<!-- 등록버튼  -->
								<a th:href="@{/product_management/order/orderList}"
									class="btn btn-m bg-warning color-palette btn-block"><b>등록</b></a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
</th:block>
</html>