<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
		
	<!-- 페이지 제목 공간 -->
	<th:block layout:fragment="customTitle">
		<title> 주문관리 </title>
	</th:block>
	<!-- 로케이션 제목 -->
	<th:block layout:fragment="locationTitle">
	</th:block>
	<!-- 로케이션 위치 -->
	<th:block layout:fragment="locationPlace">
		<a th:href="@{/main}">MAIN</a>
		> 기초관리 > 주문관리 > 주문서 상세조회
	</th:block>
	
	<!-- 메인 컨텐츠 영역 -->		
	<th:block layout:fragment="customContents">	  
		<div class="row">
			<div class="col-10 mx-auto" >
			<!-- 주문상세내역  -->
            <div class="invoice p-2" style="margin-top:-1%">
              <!-- title row -->
              <div class="row">
                <div class="col-10">
                  <h4>
                    <i class="fas fa-angle-double-right" style="margin-bottom: 1%" ></i><b style="font-size: 80%">ㅤ주문서 상세내역</b>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-3 invoice-col">
                </div>
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-15 table-responsive">
                  <table class="table table-striped">
                    <thead align="center">
                    <tr>
                      <th>번호</th>
                      <th>상품명</th>
                      <th>규격</th>
                      <th>단위</th>
                      <th>유형</th>
                      <th>수량</th>
                      <th>매입단가</th>
                      <th>공급가액</th>
                      <th>총 금액</th>
                    </tr>
                    </thead>
                    <tbody align="center">
                    <tr th:if="${not #lists.isEmpty(orderDetailList)}" th:each="l, i : ${orderDetailList}">
                         <td th:text="${i.index+1}"></td>
                         <td th:text="${l.goods.getGoodsName()}"></td>
                         <td th:text="${l.goods.getWeight()}"></td>
                         <td th:text="${l.goods.getUnit()}"></td>
                         <td th:text="${l.goods.getTaxType()}"></td>
                         <td th:text="${l.qty}"></td>
                         <td th:text="${l.purchasePrice}"></td>
                         <td th:text="${l.supplyPrice}"></td>
                         <td th:text="${l.totalPrice}"></td>
	                   		
	                  </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">

                <!-- /.col -->
                <div class="col-5" style="margin-top: 1%">
                  <b style="color: red">ㅤ결제 대금</b>

                  <div class="table-responsive">
                    <table class="table">
                    <tbody>
                      <tr>
                        <th>VAT :</th>
                        <td></td>
                      </tr>
                      <tr>
                       <th>합계 :</th>
                        <td></td>
                      </tr>
                      <tr>
                       
                      </tr>
                    </tbody></table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
				
			<!-- 닫기 버튼  -->	
              <div class="row no-print" style="margin-top: -4%">
                <div class="col-12">                  
                  <a href=orderList class="btn bg-danger color-palette float-right" 
                  style="margin-right: 3%;"><b>ㅤ닫기ㅤ</b></a>
                </div>
              </div>
            </div>
           </div>
       </div> 		
</th:block>
</html>

