<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>직원 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
		> 기초관리 > 직원관리
</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<!-- 등록 및 검색바영역  -->
	<div class="card card-warning card-tabs" style="margin-top: -1%">
		<div class="card-header p-0 pt-3"></div>
		<div class="card-body">
			<div class="tab-content" id="custom-tabs-two-tabContent">
				<!-- 주문검색 -->
				<form th:action="@{/system_management/user/userList}" method="post">
				<div class="form-group row">
					<label class="col-sm-1 col-form-label">키워드검색</label>
					<div class="col-sm-2">
						<select name="searchKey" class="form-control custom-select">
							<option>:: 선택  ::</option>
							<option value="name">이름</option>
							<option value="phone">전화번호</option>
							<option value="email">이메일</option>
							<option value="birthday">생년월일</option>
							<option value="levelNum">권한 번호</option>
						</select>
					</div>
						<div class="input-group input-group-m" style="width: 550px;">
							<input type="text" name="searchValue" class="form-control float-right" placeholder="검색어를 입력해주세요.">
						</div>
							<button type="submit" class="btn btn-warning" style="margin-left: 2%">
								<b>검 색</b>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	<!--사원정보card영역  -->
	<section class="content">
		<div class="card card-warning">
			<div class="card-header p-0 pt-1"></div>
			<div class="card-body pb-0">
				<div class="row">
					<div th:if="${not #lists.isEmpty(userList)}" th:each="l : ${userList}"
						class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
						<div class="card bg-light d-flex flex-fill">
							<div class="card-header text-muted border-bottom-0">사원정보</div>
							<div class="card-body pt-0">
								<div class="row">
									<div class="col-7">
										<h2 class="lead">
											<b th:text="${l.name}"></b>
										</h2>
										<p class="text-muted text-sm">
											<b>Level: </b><label th:text="${l.level.getLevelName()}"></label>
										</p>
										<ul class="ml-4 mb-0 fa-ul text-muted">
											<li class="small"><span class="fa-li"> 
											<i class="fas fa-lg fa-birthday-cake"></i>
											</span><span th:text="${l.birthday}"></span></li>
											
											<li class="small"><span class="fa-li"> <i class="fas fa-lg fa-phone"></i>
											</span><span th:text="${l.phone}">전화번호</span></li>
											
											<li class="small"><span class="fa-li"> 
											<i class="fas fa-lg fa-building"></i>
											</span><span th:text=${l.address}></span></li>
										</ul>
									</div>
									<div class="col-5 text-center">
										<img th:src="@{/image/user2.png}" alt="user-avatar"
											class="img-circle img-fluid">
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="text-right">
									<a th:href="@{/system_management/user/userUpdate}"
									 class="btn-sm bg-gray disabled color-palette" 
										style="margin-right: 5px;"> 
										<i class="fas fa-user"></i> 권한 수정</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
</html>