<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>주문관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>
		> 기초관리 > 직원관리 > 직원정보수정
	</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
	<section class="content">
		<div class="content-header"></div>
		<div class="container-fluid">
			<div class="row justify-content-center" style="margin-top: -3%">
				<th:block th:if="${not #lists.isEmpty(userUpdate)}" th:each="l : ${userUpdate}">
			<!-- Profile Image -->
					<div class="col-sm-2 card card-warning color-palette card-outline">
						<div class="card-body box-profile">
							<div class="text-center">
								<img class="profile-user-img img-fluid img-circle"
									th:src="@{/image/user2.png}" alt="user-avatar">
							</div>

							<h3 class="profile-username text-center" style="margin-top: 10%" th:text=${l.name}></h3>

							<p class="text-muted text-center" th:text=${l.level.getLevelName()}></p>
								<ul class="list-group list-group-unbordered mb-4">
								
								<li class="list-group-item"><b>ID</b>								
								<a class="float-right">
								<span id="ID" th:text=${l.id}></span></a></li>
								<input type="text" name="id" th:value="${l.id}" style="display: none">				

								<li class="list-group-item"><b>사업장명</b>								
								<a class="float-right">
								<span id="smartName" th:text=${l.mart.getMartName()}></span></a></li>		
								
								<li class="list-group-item"><b>사업장코드</b>								
								<a class="float-right">
								<span id="smartCode" th:text=${l.martCode}></span></a></li>				
							</ul>
						</div>
					</div>
				<!-- 사원정보입력폼  -->
					<div class="col-md-7">
					<form th:action="@{/system_management/user/userLevelUpdate}" method="post">	
						<input type="text" name="id" th:value="${l.id}" style="display: none">										
						<div class="card card-primary">
							<div class="btn-sm bg-warning color-palette btn-block card-header">
								<b><i class="fas fa-check"></i>ㅤ사원 권한수정</b>
							</div>
							<div class="card-body">						
								<div class="form-group">
			                        <label><code>*</code> 권한</label>                      
			                        <select class="form-control custom-select" name="levelNum">
			                           <option value="3">매니저</option>
			                           <option value="4">직원</option>
			                           <option value="5">비권한자</option>
			                        </select>
	                     		</div>
								
								<div class="form-group">
									<label><code>*</code> 생년월일</label> 
									<input type="date" class="form-control" name="birthday" th:value="${l.birthday}" readonly="readonly">
								</div>
	
								<div class="form-group">
									<label>Email</label> <input type="email" class="form-control"
										name="email" th:value="${l.email}" readonly="readonly">
								</div>
	
								<div class="form-group">
									<label>전화번호</label> <input type="text" class="form-control"
										name="phone" th:value="${l.phone}" readonly="readonly">	
								</div>
								
							<div class="form-group">
								<label for="inputProjectLeader">주소</label>
											<!--카카오톡 우편번호 api  -->
											<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
											<script charset="UTF-8" type="text/javascript"
												src="//t1.daumcdn.net/postcode/api/core/211103/1635999227231/211103.js"></script>
											<script src="/resources/js/addressapi.js"></script>
											<div class="form-group">
												<input class="form-control"
													style="width: 40%; display: inline;" placeholder="우편번호"
													name="addr1" id="addr1" type="text" readonly="readonly">
												<button type="button" class="btn btn-default"
													onclick="execPostCode();">
													<i class="fa fa-search"></i> 우편번호 찾기
												</button>
											</div>
											<div class="form-group">
												<input class="form-control" style="top: 5px;"
													placeholder="도로명 주소" name="addr2" id="addr2" type="text"
													readonly="readonly">
											</div>
											<div class="form-group">
												<input class="form-control" name="address" th:value="${l.address}" id="addr3" type="text"  readonly="readonly">
											</div>
											
										<!--닫기 버튼 -->		
										<a th:href="@{/system_management/user/userList}" class="btn btn-m bg-warning  color-palette" style="float: right;">
											<b>닫기</b></a>
										<div style="margin-right: 10%">
										<!--수정 버튼 -->	
											<button type="submit" class="btn btn-m bg-info" style="float: right;">
												<b>수정 완료</b>
											</button>
										</div>
									</div>
								</div>
							</div>		
		 					</form>
						</div>
					</th:block>
				</div>
			</div>
		</section>
	</th:block>
</html>