<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>GoodsJOCㅣ회원가입</title>
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body style="background-color: #001F3F;">
   <div class="row justify-content-center" style="margin-top: 5%">
      <div class="col-md-7">
         <div class="card card-primary">
            <div class="btn-sm bg-warning btn-block card-header ">
               <h4><i class="fas fa-tags"></i>회원가입</h4>
            </div>
            <div class="card-body">
               <div class="form-group">
                  <label><code>*</code>아이디</label> 
                  <div class="input-group input-group">
                     <input type="text" class="form-control" id="idInput">
                     <span class="input-group-append">
                        <button type="button" id="idCheckBtn" class="btn btn-info btn-flat">ID 중복 확인</button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <label><code>*</code>비밀번호</label> 
                  <input type="password" class="form-control">
               </div>
               <div class="form-group">
                  <label><code>*</code>비밀번호 확인</label> 
                  <input type="password" class="form-control">
               </div>
               <div class="form-group">
                  <label><code>*</code>이름</label> 
                  <input type="text" class="form-control">
               </div>
               <div class="form-group">
                  <label><code>*</code>생년월일</label> 
                  <input type="date" id="userBirth" class="form-control">
               </div>
               <div class="form-group">
                  <label><code>*</code>연락처</label> 
                  <input type="text" id="userBirth" class="form-control">
               </div>
               <div class="form-group">
                  <label><code>*</code>Email</label> 
                  <input type="text" id="Email" class="form-control">
               </div>
               <div class="form-group">
                  <label for="inputProjectLeader"><code>*</code>주소</label>
                  <div class="form-group">
                     <input class="form-control"
                        style="width: 40%; display: inline;" placeholder="우편번호"
                        name="addr1" id="addr1" type="text" readonly="readonly">
                     <button type="button" class="btn btn-default"
                        onclick="execPostCode();">
                        <i class="fa fa-search"></i> 우편번호 찾기
                     </button>
                  </div>
                  <div class="form-group">
                     <input class="form-control" style="top: 5px;"
                        placeholder="도로명 주소" name="addr2" id="addr2" type="text"
                        readonly="readonly">
                  </div>
                  <div class="form-group">
                     <input class="form-control" placeholder="상세주소" name="addr3"
                        id="addr3" type="text">
                  </div>
                  <div class="form-group">
                     <label><code>*</code>마트고유번호</label>
                     <input type="text" id="martCode" class="form-control" placeholder="매장관리자와 상의하시오">
                  </div>

                  <!--   <input type="button" onclick="kakaopost" class="form-control" value="우편번호찾기" style="text-align: left;"> -->

                  <!-- 등록버튼  -->
                  <div class="d-flex justify-content-center" >
                     <button type="submit" class="btn btn-md bg-warning">
                        <b>등록</b>
                     </button>
                     <a th:href="@{/system_management/user/loginForm}" class="btn btn-md btn-danger" style="margin-left: 5px">
                        <b>닫기</b>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <th:block th:replace="fragments/script :: scriptFragment"></th:block>
   <script>
	   	$(function(){
	   	
	   		$(document).on('click', '#idCheckBtn', function(){
	   			var idInput = $('#idInput').val();
	   			console.log(idInput);
	   			
	   			if(typeof idInput != 'undefined' && idInput != null && idInput != ''){
	   				var request = $.ajax({
	   					url: '/system_management/user/userIdCheck',
	   					method: 'POST',
	   					data:{'userId' : idInput},
	   					dataType:'json'
	   				});
	   				request.done(function(data){
	   					console.log(data);
	   					if(data){
	   						alert("이미 사용하고 있는 아이디입니다.");	   						
	   					}else{
	   						alert("사용 가능한 아이디입니다.");

	   					}
	   				});
	   			}else{
	   				alert("아이디를 입력해주세요.")
	   				return false;
	   			}
	   		});		   
	   });
   </script>
   
</body>
</html>