<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>주문관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>
		> 기초관리 > 직원관리 > 직원정보수정
	</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<section class="content">
		<div class="content-header"></div>
		<div class="container-fluid">
			<div class="row justify-content-center" style="margin-top: -3%">
				<!-- 사원정보입력폼  -->
				<div class="col-md-7">
					<div class="card card-primary">
						<div
							class="btn-sm bg-warning color-palette btn-block card-header ">
							<b><i class="fas fa-check"></i>ㅤㅤ사원정보수정</b>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label><code>*</code> 이름</label> <input type="text"
									class="form-control" name="name" id="name">
							</div>

							<div class="form-group">
								<label><code>*</code> 생년월일</label> <input type="text"
									class="form-control" name="birthday" id="birthday">
							</div>
							<div class="form-group">
								<label><code>*</code> 사원직급</label> <input type="text"
									class="form-control" name="levelNum" id="levelNum">
							</div>

							<div class="form-group">
								<label>Email</label> <input type="text" class="form-control"
									name="email" id="email">
							</div>

							<div class="form-group">
								<label>전화번호</label> <input type="text" class="form-control"
									name="phone" id="phone">

							</div>

							<div class="form-group">
								<label>상세주소</label> <input type="text" class="form-control"
									name="address" id="address">
							</div>
							<button type="submit"
								class="btn btn-m bg-warning  color-palette btn-block">
								<b>수정 완료</b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>