<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>폐기 관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 재고관리 > 폐기 관리
   </th:block>
<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<!--------------------폐기 검색 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header">
						<h3 class="card-title">
							<b>폐기 관리</b>
						</h3>
					</div>
					<div class="card-body">
						<div class="tab-content" id="custom-tabs-two-tabContent">
							<!-- 주문검색 -->
							<div class="row">
								<label class="col-sm-1 col-form-label">폐기검색</label>
								<div class="col-sm-2">
									<select id="orderCode" class="form-control custom-select">
										<option value="상품명">상품명</option>
										<option value="담당자">담당자</option>
										<option value="거래처명">거래처명</option>
										<option value="폐기일">폐기일</option>
									</select>
								</div>
								<div class="input-group input-group-m" style="width: 500px;">
									<input type="text" name="table_search" style="margin-left: 3%"
										class="form-control float-right" placeholder="검색">
								</div>
								<div style="margin-left: 15%">
									<button type="button" class="btn-lg btn-info">
										<b>검색</b>
									</button> <a href="disposalInsert">
										<button type="button" class="btn-lg btn-info">
											<b>등록</b>
										</button>
								</a>
								</div>
							</div>
							<!-----------------폐기일검색------------------>
							<div class="row" style="margin-top: 1%">
								<!-- 주문일자검색 -->
								<label class="col-sm-1 col-form-label">폐기일</label>
								<div class="col-sm-2">
									<input type="date" id="date" class="form-control">
								</div>
								<span style="font-weight: bold;">~</span>
								<div class="col-sm-2">
									<input type="date" id="date" class="form-control">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-------------------검수 조회 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header p-0 pt-1"></div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 300px;">
						<div class="col-12">
							<table class="table table-hover text-nowrap text-center">
								<thead>
									<tr>
										<th></th>
										<th>상품명</th>
										<th>수량</th>
										<th>거래처명</th>
										<th>담당자</th>
										<th>폐기일</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div class="custom-control custom-checkbox">
												<input type="checkbox" id="jb-checkbox1"
													class="custom-control-input"> <label
													class="custom-control-label" for="jb-checkbox1"></label>
											</div></td>
										<td>흙당근</td>
										<td>10</td>
										<td>JB</td>
										<td>오대성</td>
										<td>2021-09-11</td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="disposalUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="custom-control custom-checkbox">
												<input type="checkbox" id="jb-checkbox2"
													class="custom-control-input"> <label
													class="custom-control-label" for="jb-checkbox2"></label>
											</div></td>
										<td>알감자</td>
										<td>15</td>
										<td>JB</td>
										<td>최민중</td>
										<td>2021-10-12</td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="disposalUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="custom-control custom-checkbox">
												<input type="checkbox" id="jb-checkbox3"
													class="custom-control-input"> <label
													class="custom-control-label" for="jb-checkbox3"></label>
											</div></td>
										<td>고당도딸기</td>
										<td>20</td>
										<td>JB</td>
										<td>정도혜</td>
										<td>2021-08-09</td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="disposalUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="custom-control custom-checkbox">
												<input type="checkbox" id="jb-checkbox4"
													class="custom-control-input"> <label
													class="custom-control-label" for="jb-checkbox4"></label>
											</div></td>
										<td>주황당근</td>
										<td>25</td>
										<td>JB</td>
										<td>김지원</td>
										<td>2021-12-13</td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="disposalUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="custom-control custom-checkbox">
												<input type="checkbox" id="jb-checkbox5"
													class="custom-control-input"> <label
													class="custom-control-label" for="jb-checkbox5"></label>
											</div></td>
										<td>오이고추</td>
										<td>30</td>
										<td>JB</td>
										<td>김환철</td>
										<td>2021-03-21</td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="disposalUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!----------------버튼---------------->


				<!--------------Modal-------------->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalCenterTitle"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">알림</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">정말 삭제 하시겠습니까?</div>
							<div class="modal-footer">
								<a href="disposalList"><button type="button"
										class="btn btn-secondary">예</button></a>
								<button type="button" class="btn btn-info"
									data-dismiss="modal">아니오</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card -->
		</div>
	</section>
	</th:block>
	</html>