<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>시설 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>	
	> 기초관리 > 시설관리
</th:block>

<th:block layout:fragment="customContents">
<div>
	<div class="card card-warning card-tabs">
		<div class="card-header p-0 pt-1">
			<ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
				<li class="pt-2 px-3">
					<h3 class="card-title"><b>시설 등록</b></h3>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="custom-tabs-two-home-tab" href="#custom-tabs-two-home"
					data-toggle="pill"  role="tab"aria-controls="custom-tabs-two-home" aria-selected="true">
						창고 등록
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="custom-tabs-two-profile-tab" href="#custom-tabs-two-profile"
					data-toggle="pill" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">
						창고진열대 등록
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="custom-tabs-two-messages-tab" href="#custom-tabs-two-messages" 
					data-toggle="pill" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">
						판매진열대 등록
					</a>
				</li>
			</ul>
		</div>
		
		<div class="card-body">
			<div class="tab-content" id="custom-tabs-two-tabContent">
				<!-- 창고등록 폼 -->
				<div class="tab-pane fade active show" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
					<form class="form-horizontal" th:action="@{/basic_management/facility/warehouseInsert}" method="post">
						<div class="card-body row">
							<div class="col-10">
								<div class="form-group row">
									<label for="warehouseName" class="col-sm-2 col-form-label">창고명</label>
									<div class="col-sm-10">
										<input type="text" class="form-control insertWarehouse" name="warehouseName">
									</div>
								</div>
								<div class="form-group row">
									<label for="warehouseType" class="col-sm-2 col-form-label">창고분류</label>
									<div class="col-sm-10">
										<input type="text" class="form-control insertWarehouse" name="warehouseType">
									</div>
								</div>
								<div class="form-group row">
									<label for="warehouseType" class="col-sm-2 col-form-label">등록자</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:value="${session.SNAME}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label">아이디</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="id" th:value="${session.SID}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label">마트</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="martCode" th:value="${session.SMARTCODE}"  readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-2">
								<button id="warehouseInsertBtn" type="button" class="btn btn-info btn-lg">등록하기</button>
							</div>
						</div>	
					</form>
				</div>
				
				<!-- 창고진열대 등록폼 -->
				<div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
					<form class="form-horizontal" th:action="@{/basic_management/facility/shelfInsert}" method="post">
						<div class="card-body row">
							<div class="col-10">
								<div class="form-group row">
									<label for="showcaseName" class="col-sm-2 col-form-label">창고진열대 위치</label>
									<div class="col-sm-10">
											<select class="form-control" name="warehouseCode">
												<th:block th:if="${not #lists.isEmpty(warehouseNameList)}" th:each="w : ${warehouseNameList}" class="form-control">
													<option th:value="${w.warehouseCode}" th:text="${w.warehouseName}"></option>
												</th:block>
											</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="showcaseName" class="col-sm-2 col-form-label">진열대 이름</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="shelfName">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="id" th:value="${session.SID}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row">
									<label for="warehouseType" class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:value="${session.SNAME}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label">마트</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="martCode" th:value="${session.SMARTCODE}"  readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-info btn-lg">등록하기</button>
							</div>
						</div>
					</form>
				</div>
				
				<!-- 판매진열대 등록 폼 -->
				<div class="tab-pane fade" id="custom-tabs-two-messages" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
					<form class="form-horizontal" th:action="@{/basic_management/facility/showcaseInsert}" method="post">
						<div class="card-body row">
							<div class="col-10">
								<div class="form-group row">
									<label for="martShowcaseName" class="col-sm-2 col-form-label">판매진열대 이름</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="showcasePlace">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="id" th:value="${session.SID}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row">
									<label for="warehouseType" class="col-sm-2 col-form-label">등록자</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:value="${session.SNAME}"  readonly="readonly">
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<label for="warehouseType" class="col-sm-2 col-form-label">마트</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="martCode" th:value="${session.SMARTCODE}"  readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-info btn-lg">등록하기</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="row">	
		<!-- 카테고리 리스트 화면 -->
		<div class="row col-7">
			<div class="col-12">
				<div class="card card-warning">
					<div class="card-header">
						<h3 class="card-title">창고 목록</h3>
						<div class="card-tools">
								<form th:action="@{/basic_management/facility/searchWarehouse}" method="post">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="searchWarehouse"
									class="form-control float-right" placeholder="창고 검색">
								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
							</form>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 552px;">
						<table class="table table-head-fixed text-nowrap text-center">
							<thead>
								<tr>
									<th>번호</th>
									<th>창고</th>
									<th>창고진열대</th>
									<th>구분</th>
									<th>수정하기</th>
									<th>진열대 삭제</th>
									<th>창고 삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(warehouseList)}" th:each="l, i : ${warehouseList}">
									<td th:text="${i.index + 1}"></td>
									<td th:text="${l.warehouse.getWarehouseName()}"> </td>
									<td th:text=${l.shelfName}></td>
									<td th:text="${l.warehouse.getWarehouseType()}"></td>
									<td>
										<button type="button" class="btn btn-outline-primary btn-xs">수정하기</button>
									</td>
									<td>
										<button type="button" class="btn btn-outline-danger btn-xs">진열대삭제</button>
									</td>
									<td>
										<button type="button" class="btn btn-danger btn-xs">창고삭제</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<code>※ 창고 삭제시 창고 내 모든 진열대가 같이 삭제됩니다.</code>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</div>

		<div class="row col-5">
			<div class="col-12">
				<div class="card card-warning">
					<div class="card-header">
						<h3 class="card-title">판매진열대 목록</h3>
						<div class="card-tools">
							<form th:action="@{/basic_management/facility/searchShowcase}" method="post">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="searchShowcase"
									class="form-control float-right" placeholder="판매진열대 찾기">
								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
							</form>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 600px;">
						<table class="table table-head-fixed text-nowrap text-center">
							<thead>
								<tr>
									<th>번호</th>
									<th>판매진열대</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(showcaseList)}" th:each="l, i : ${showcaseList}" >
									<td th:text="${i.index+1}"></td>
									<td th:text="${l.showcasePlace}"></td>
									<td>
										<button type="button" class="btn btn-outline-primary btn-xs">수정하기</button>
									</td>
									<td>
										<button type="button" class="btn btn-outline-danger btn-xs">삭제하기</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
</div>
</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function(){
			//창고등록버튼 클릭시
			$(document).on('click','#warehouseInsertBtn', function(){
				var insertWarehouse = $('.insertWarehouse');
				console.log(insertWarehouse);
				for(var i=0; i<insertWarehouse.length; i++){
					console.log(insertWarehouse.val());
				}
				alert('등록완료');
			});
			
			
			
		});
	</script>
</th:block>


</html>