<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>시설 조회</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
	시설 조회
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>		
	> 기초관리 > 시설관리 > 조회
</th:block>

<th:block layout:fragment="customContents">

<div class="row">	
		<!-- 카테고리 리스트 화면 -->
		<div class="row col-8">
			<div class="col-12">
				<div class="card card-navy color-pallete">
					<div class="card-header">
						<h3 class="card-title">창고 목록</h3>
						<div class="card-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search"
									class="form-control float-right" placeholder="창고 검색">
								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 622px;">
						<table class="table table-head-fixed text-nowrap text-center">
							<thead>
								<tr>
									<th>번호</th>
									<th>창고</th>
									<th>창고진열대</th>
									<th>구분</th>
									<th>수정하기</th>
									<th>진열대 삭제</th>
									<th>창고 삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>A</td>
									<td>A-F3-12</td>
									<td>냉동창고</td>
									<td>
										<button type="button" class="btn btn-outline-secondary btn-xs">수정하기</button>
									</td>
									<td>
										<button type="button" class="btn btn-outline-secondary btn-xs">진열대삭제</button>
									</td>
									<td>
										<button type="button" class="btn btn-outline-secondary btn-xs">창고삭제</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<code>※ 창고 삭제시 창고 내 모든 진열대가 같이 삭제됩니다.</code>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</div>

		<div class="row col-4">
			<div class="col-12">
				<div class="card card-navy color-pallete">
					<div class="card-header">
						<h3 class="card-title">판매진열대 목록</h3>
	
						<div class="card-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search"
									class="form-control float-right" placeholder="팜매진열대 찾기">
								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 670px;">
						<table class="table table-head-fixed text-nowrap text-center">
							<thead>
								<tr>
									<th>번호</th>
									<th>판매진열대</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>A-00-01</td>
									<td>
										<button type="button" class="btn btn-outline-secondary btn-xs">수정하기</button>
									</td>
									<td>
										<button type="button" class="btn btn-outline-secondary btn-xs">삭제하기</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>

</th:block>
</html>