<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.BusinessMapper">
	<!-- business ResultMap (최민중) -->
	<resultMap type="Business" id="businessResultMap">
		<id column="businessCode" 				property="businessCode"/>
		<result column="businessName" 			property="businessName"/>
		<result column="partnerName" 			property="partnerName"/>
		<result column="partnerPhone" 			property="partnerPhone"/>
		<result column="registerNum" 			property="registerNum"/>
		<result column="businessType" 			property="businessType"/>
		<result column="sectors" 				property="sectors"/>
		<result column="status" 				property="status"/>
		<result column="callNum" 				property="callNum"/>
		<result column="address" 				property="address"/>
		<result column="FAX" 					property="fax"/>
		<result column="businessStaff" 			property="businessStaff"/>
		<result column="businessStaffPhone" 	property="businessStaffPhone"/>
		<result column="businessStaffEmail" 	property="businessStaffEmail"/>
		<result column="note" 					property="note"/>
		<result column="martCode" 				property="martCode"/>
		<result column="ID" 					property="id"/>
		<result column="regDate"				property="regDate"/>
	</resultMap>
	
	<resultMap type="Business" id="businessResultMap">
		<result column="businessCode" 		property="businessCode"/>
		<result column="businessName" 		property="businessName"/>
		<result column="partnerName" 		property="partnerName"/>
		<result column="partnerPhone" 		property="partnerPhone"/>
		<result column="registerNum" 		property="registerNum"/>
		<result column="businessType" 		property="businessType"/>
		<result column="sectors" 			property="sectors"/>
		<result column="status" 			property="status"/>
		<result column="callNum" 			property="callNum"/>
		<result column="address" 			property="address"/>
		<result column="FAX" 				property="FAX"/>
		<result column="businessStaff" 		property="businessStaff"/>
		<result column="businessStaffPhone" property="businessStaffPhone"/>
	
	
	</resultMap>
	
	<!--매장별 거래처리스트 조회 (최민중) => 거래처조회, 거래처선택모달Ajax  -->
	<select id="getBusinessList" parameterType="String" resultMap="businessResultMap">
		SELECT 
			businessCode, businessName, partnerName, partnerPhone, registerNum, businessType
			, sectors, status, callNum, address, FAX, businessStaff, businessStaffPhone
			, businessStaffEmail, note, martCode, ID, DATE(regDate) AS regDate
		FROM 
			tb_business
		WHERE
			martCode = #{martCode};
	</select>
	
	<!-- 거래처 정보조회 (정도혜) -->
	<select id="getBusinessInfoByCode" parameterType="String" resultType="Business">
	SELECT 
		businessCode, businessName, partnerName, partnerPhone, registerNum, businessType
		, sectors, `status`, callNum, address, FAX, businessStaff, businessStaffPhone
		, businessStaffEmail, note, martCode, ID, regDate
	FROM 
		tb_business
	WHERE 
		businessCode  = #{businessCode}
	</select>
	
	<!-- 거래처 정보수정(정도혜) -->
	<update id="updateBusinessInfo" parameterType="Business">
		UPDATE tb_business		
		<trim prefix="SET" prefixOverrides=",">
			<if test="businessName != null and businessName != ''.toString()">
				,businessName = #{businessName}
			</if>
			<if test="partnerName != null and partnerName != ''.toString()">
				,partnerName = #{partnerName}
			</if>
			<if test="registerNum != null and registerNum != ''.toString()">
				,registerNum = #{registerNum}
			</if>
			<if test="businessType != null and businessType != ''.toString()">
				,businessType = #{businessType}
			</if>
			<if test="sectors != null and sectors != ''.toString()">
				,sectors = #{sectors}
			</if>
			<if test="status != null and status != ''.toString()">
				,status = #{status}
			</if>
			<if test="callNum != null and callNum != ''.toString()">
				,callNum = #{callNum}
			</if>
			<if test="address != null and address != ''.toString()">
				,address = #{address}
			</if>
			<if test="fax != null and fax != ''.toString()">
				,fax = #{FAX}
			</if>
			<if test="businessStaff != null and businessStaff != ''.toString()">
				,businessStaff = #{businessStaff}
			</if>
			<if test="businessStaffPhone != null and businessStaffPhone != ''.toString()">
				,businessStaffPhone = #{businessStaffPhone}
			</if>
			<if test="businessStaffEmail != null and businessStaffEmail != ''.toString()">
				,businessStaffEmail = #{businessStaffEmail}
			</if>
			<if test="note != null and note != ''.toString()">
				,note = #{note}
			</if>
		</trim>
		WHERE 
			businessCode=#{businessCode}
	</update>
	
	<!-- 거래처 조건검색(정도혜) -->
	<select id="getBusinessListBySearchKey" resultType="Business">
		SELECT 
			b.businessCode,
			b.businessName, 
			b.partnerName, 
			b.partnerPhone, 
			b.registerNum, 
			b.businessType, 
			b.sectors, 
			b.`status`, 
			b.callNum, 
			b.address, 
			b.FAX, 
			b.businessStaff, 
			b.businessStaffPhone, 
			b.businessStaffEmail, 
			b.note
		FROM 
			tb_business AS b
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchValue != null and searchValue != ''.toString()">
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</trim>
	</select>
	
	<!-- 거래처 등록(정도혜) -->	
	<insert id="businessInsert" parameterType="Business">
	INSERT INTO tb_business(
		businessName,
		partnerName,
		partnerPhone, 
		registerNum,
		businessType,
		sectors,
		`status`,
		callNum,
		address,
		FAX,
		businessStaff,
		businessStaffPhone,
		businessStaffEmail,
		note,
		martCode,
		ID,
		regDate
	)VALUES (
		#{businessName},
		#{partnerName},
		#{partnerPhone},
		#{registerNum},
		#{businessType},
		#{sectors},
		#{status},
		#{callNum},
		#{address},
		#{fax},
		#{businessStaff},
		#{businessStaffPhone},
		#{businessStaffEmail},
		#{note},
		#{martCode},
		#{id},
		NOW()
	);
	</insert>
	
</mapper>