<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.BusinessMapper">
	<resultMap type="Business" id="businessResultMap">
		<result column="businessCode" 			property="businessCode"/>
		<result column="businessName" 			property="businessName"/>
		<result column="partnerName" 			property="partnerName"/>
		<result column="partnerPhone" 			property="partnerPhone"/>
		<result column="registerNum" 			property="registerNum"/>
		<result column="businessType" 			property="businessType"/>
		<result column="sectors" 				property="sectors"/>
		<result column="status" 				property="status"/>
		<result column="callNum" 				property="callNum"/>
		<result column="address" 				property="address"/>
		<result column="FAX" 					property="FAX"/>
		<result column="businessStaff" 			property="businessStaff"/>
		<result column="businessStaffPhone" 	property="businessStaffPhone"/>
		<result column="businessStaffEmail" 	property="businessStaffEmail"/>
		<result column="note" 					property="note"/>
		<result column="martCode" 				property="martCode"/>
		<result column="ID" 					property="ID"/>
		<result column="regDate"				property="regDate"/>
	</resultMap>
	
	
	
	
	<select id="getBusinessList" parameterType="String" resultMap="businessResultMap">
		SELECT 
				businessCode, 
				businessName, 
				partnerName, 
				partnerPhone, 
				registerNum, 
				businessType, 
				sectors, 
				`status`, 
				callNum, 
				address, 
				FAX, 
				businessStaff, 
				businessStaffPhone,
				businessStaffEmail, 
				note, 
				martCode, 
				ID, 
				regDate
			FROM 
				tb_business
	
	</select>

	
	
	
</mapper>