<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.GoodsMapper">
	<!-- user innerjoin business,goodsCate,user ResultMap(최민중) -->
	<resultMap type="Goods" id="goodsResultMap">
		<id column="barcode" 				property="barcode" />
		<result column="businessCode" 		property="businessCode" />
		<result column="categoryCode" 		property="categoryCode"/>
		<result column="goodsName" 			property="goodsName" />
		<result column="weight" 			property="weight" />
		<result column="unit" 				property="unit" />
		<result column="maker" 				property="maker" />
		<result column="taxType" 			property="taxType" />
		<result column="purchasePrice" 		property="purchasePrice" />
		<result column="salesPrice" 		property="salesPrice" />
		<result column="margin" 			property="margin" />
		<result column="uncheckedQTY" 		property="uncheckedQTY" />
		<result column="warehouseStock" 	property="warehouseStock" />
		<result column="showcaseStock" 		property="showcaseStock" />
		<result column="goodsTotalStock" 	property="goodsTotalStock" />
		<result column="martCode" 			property="martCode" />
		<result column="ID" 				property="id" />
		<result column="regDate" 			property="regDate" />
		<result column="deleteStatus" 		property="deleteStatus" />
		
		<association javaType="Business" 	property="business">
			<id column="businessCode" 		property="businessCode"/>
			<result column="businessName" 	property="businessName"/>
		</association>
		<association javaType="GoodsCate" 	property="goodsCate">
			<id column="categoryCode" 		property="categoryCode"/>
			<result column="categoryName" 	property="categoryName"/>
		</association>
		<association javaType="User" 		property="user">
			<id column="ID" 				property="id" />
			<result column="name" 	property="name"/>
		</association>
	</resultMap> 
	
	<!-- 상품정보 수정 -->
	<update id="goodsUpdateAction">
		UPDATE
			tb_goods
		SET
			goodsName= #{goodsName}
			,categoryCode = #{categoryCode}
			,businessCode = #{businessCode}
			,taxType = #{taxType}
			,weight = #{weight}
			,unit = #{unit}
			,maker = #{maker}
		WHERE
			barcode=#{barcode}
	</update>
	
	<!-- 상품삭제 -->
	<update id="deleteGoods">
		UPDATE 
			tb_goods
		SET 
			deleteStatus ='Y'
			,categoryCode = 0
		WHERE 
			barcode = #{barcode}
	</update>
	
	<!-- 상품 등록 -->
	<insert id="addGoodsAction" parameterType="Goods">
		INSERT INTO tb_goods(
			barcode
			,businessCode
			,categoryCode
			,weight
			,unit
			,maker
			,taxType
			,goodsName
			,martCode
			,ID
			,regDate
		)VALUES (
			#{barcode}
			,#{businessCode}
			,#{categoryCode}
			,#{weight}
			,#{unit}
			,#{maker}
			,#{taxType}
			,#{goodsName}
			,#{martCode}
			,#{id}
			,NOW()
		)
	</insert>
	
	<!-- 바코드중복 확인 -->
	<select id="goodsCheckByBarcode" parameterType="String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_goods
		WHERE
			barcode = #{barcode};
	</select>

	<!-- 바코드로 상품 정보조회(최민중) -->
	<select id="getGoodsInfoByBarcode" parameterType="String" resultMap="goodsResultMap">
		SELECT
			g.barcode, g.businessCode, g.categoryCode, g.goodsName, g.weight, g.unit
			, g.maker,g.taxType, g.purchasePrice, g.salesPrice, g.margin, g.uncheckedQTY
			, g.warehouseStock, g.showcaseStock, g.goodsTotalStock, g.martCode, g.ID, g.regDate
			, c.categoryName, b.businessName ,u.name	
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		WHERE
			g.barcode = #{barcode}
	</select>

	<!-- 상품조건 조회(최민중) -->
 	<select id="getSearchGoodsList" parameterType="Map" resultMap="goodsResultMap">
		SELECT
			g.barcode, g.businessCode, g.categoryCode, g.goodsName, g.weight, g.unit
			, g.maker, g.taxType, g.purchasePrice, g.salesPrice, g.margin, g.uncheckedQTY
			, g.warehouseStock, g.showcaseStock, g.goodsTotalStock, g.martCode, g.ID,g.regDate
			, c.categoryName, b.businessName, u.name, g.deleteStatus	
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="searchCategory != null and searchCategory != ''.toString()">
				AND g.categoryCode = #{searchCategory}
			</if>
			<if test="minPurchasePrice != null and minPurchasePrice != 0">
				AND g.purchasePrice >= #{minPurchasePrice}
			</if>
 			<if test="maxPurchasePrice != null and maxPurchasePrice != 0">
				AND #{maxPurchasePrice} >= g.purchasePrice
			</if>
			<if test="searchTaxType != null and searchTaxType != ''.toString()">
				AND g.taxType = #{searchTaxType}
			</if>
			<if test="minSalesPrice != null and minSalesPrice != 0">
				AND g.salesPrice >= #{minSalesPrice}
			</if>
			<if test="maxSalesPrice != null and maxSalesPrice != 0">
				AND #{maxSalesPrice} >= g.salesPrice
			</if>
			<if test="searchGoodsName != null and searchGoodsName != ''.toString()">
				AND g.goodsName LIKE CONCAT('%', #{searchGoodsName}, '%')
			</if>
			<if test="martCode != null and martCode != ''.toString()">
				AND g.martCode = #{martCode}
			</if>
				AND g.deleteStatus = 'N'
		</trim>	
	</select>

	<!-- 상품조회화면(최민중) -->
	<select id="getGoodsList" resultMap="goodsResultMap">
		SELECT
			g.barcode, g.businessCode, g.categoryCode, g.goodsName, g.weight, g.unit, g.maker
			, g.taxType, g.purchasePrice, g.salesPrice, g.margin, g.uncheckedQTY, g.warehouseStock
			, g.showcaseStock, g.goodsTotalStock, g.martCode, g.ID, g.regDate, g.deleteStatus
			, u.name, c.categoryName, b.businessName
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		WHERE
			g.martCode = #{martCode} AND g.deleteStatus = 'N'
		ORDER BY
			g.regDate ASC
	</select> 

	<!-- purchasePrice innerjoin mart,user,goods ResultMap(최민중) -->
	<resultMap type="PurchasePrice" id="purchasePriceMap">
		<id column="martCode" property="martCode" />
		<id column="ID" property="id" />
		<id column="barcode" property="barcode" />
		<result column="IDX" property="idx" />
		<result column="regDate" property="regDate" />
		<result column="purchasePrice" property="purchasePrice" />

		<association javaType="Mart" property="mart">
			<id column="martCode" property="martCode" />
			<result column="martName" property="martName"/>
		</association>
		<association javaType="User" property="user">
			<id column="ID" property="id"/>
			<result column="name" property="name"/>
		</association>
		<association javaType="Goods" property="goods">
			<id column="barcode" property="barcode" />
			<result column="goodsName" property="goodsName"/>	
		</association>
	</resultMap>
	
	<!-- salesPrice innerjoin mart,user,goods ResultMap(최민중) -->
	<resultMap type="SalesPrice" id="salesPriceMap">
		<id column="martCode" property="martCode" />
		<result column="ID" property="id" />
		<result column="IDX" property="idx" />
		<result column="barcode" property="barcode" />
		<result column="regDate" property="regDate" />
		<result column="salesPrice" property="salesPrice" />

		<association javaType="Mart" property="mart">
			<id column="martCode" property="martCode" />
			<result column="martName" property="martName"/>
		</association>
		<association javaType="User" property="user">
			<id column="ID" property="id"/>
			<result column="name" property="name"/>
		</association>
		<association javaType="Goods" property="goods">
			<id column="barcode" property="barcode" />
			<result column="goodsName" property="goodsName"/>	
		</association>
	</resultMap>

	<!-- 상품매입가리스트 (최민중) => 단가수정페이지-최근 매입가보여주기 -->
	<select id="getPurchasePriceListByBarcode" resultMap="purchasePriceMap">
		SELECT
			p.IDX, p.purchasePrice, p.regDate, u.name
		FROM 
			tb_purchasePrice AS p
			INNER join
			tb_user AS u
			ON
			p.ID = u.ID
		WHERE
			p.barcode = #{barcode}
		ORDER BY
			p.regDate DESC
	</select>
	
	<!-- 상품판매가리스트 (최민중) => 단가수정페이지-최근 판매가보여주기 -->
	<select id="getSalesPriceListByBarcode" resultMap="salesPriceMap">
		SELECT
			s.IDX, s.salesPrice, s.regDate, u.name 
		FROM 
			tb_salesPrice AS s
			INNER join
			tb_user AS u
			ON
			s.ID = u.ID
		WHERE
			s.barcode = #{barcode}
		ORDER BY
			s.regDate DESC
	</select>

	<!-- 상품판매가 변경 (최민중) -->
	<update id="updateGoodsPrice">
		UPDATE 
			tb_goods
		SET
			salesPrice= #{salesPrice}
		WHERE
			barcode= #{barcode}
	</update>
	
	<!-- 상품판매가 변경후 기록남기기(최민중) -->
	<insert id="addSalesPrice" parameterType="Map">
		INSERT INTO tb_salesPrice(
			barcode
			, salesPrice
			, martCode
			, ID
			, regDate
		)VALUES(
			#{barcode}
			,#{salesPrice}
			,#{martCode}
			,#{ID}
			,NOW()
		);
	</insert>
	
	<!-- 상품카테고리 ResultMap(최민중) -->
	<resultMap type="GoodsCate" id="goodsCateResultMap">
		<result column="categoryCode" property="categoryCode"/>
		<result column="categoryName" 			property="categoryName"/>
		<result column="martCode" 				property="martCode"/>
		<result column="ID" 					property="id"/>
		<result column="regDate" 				property="regDate"/>
		
		<association javaType="User"	property="user">
			<id column="ID"			property="id"/>
			<result column="name"			property="name"/>
		</association>
	</resultMap>

	<!-- 카테고리 수정하기 -->
	<update id="goodsCateUpdate">
		UPDATE
			tb_category
		SET
			categoryName = #{categoryName}
			,regDate = NOW()
			,ID = #{id}
		WHERE
			categoryCode=#{categoryCode}
	</update>

	<!-- 카테고리 삭제하기 -->
	<delete id="goodsCateDeleteAction">
		DELETE FROM 
			tb_category 
		WHERE
			categoryCode=#{categoryCode}
	</delete>

	<!-- 카테고리삭제전 상품들 초기화하기 -->
	<update id="updateGoodsCategoryCode">
		UPDATE 
			tb_goods
		SET
			categoryCode=0
		WHERE 
			categoryCode=#{categoryCode}
	</update>

	<!-- 상품카테고리 등록(최민중) -->
	<insert id="goodsCateInsertAction">
		INSERT INTO tb_category(
			categoryName, martCode, ID, regDate
		)VALUES (
			#{categoryName}
			,#{martCode}
			,#{id}
			,NOW()
		)
			</insert>
	
	<!-- 상품카테고리 선택용 모달(최민중) -->
	<select id="getCategoryList" parameterType="String" resultType="Map">
		SELECT
			categoryCode, categoryName
		FROM
			tb_category
		WHERE
			martCode = #{martCode} AND categoryCode > 0
		ORDER BY 
			categoryName
	</select>
	
	<!-- 상품카테고리 조건검색(최민중) -->
	<select id="getSearchGoodsCateList" resultType="GoodsCate" resultMap="goodsCateResultMap">
		SELECT
			c.categoryCode, c.categoryName, c.martCode, c.ID, DATE(c.regDate) AS regDate
			,u.name
		FROM
			tb_category AS c
			INNER JOIN
			tb_user AS u
		WHERE
			c.martCode = #{martCode} AND c.categoryCode > 0
			<if test="searchCate != null and searchCate != ''.toString()">
				AND c.categoryName LIKE CONCAT('%', #{searchCate}, '%')
			</if>
		ORDER BY 
			c.regDate DESC
	</select>
	
	<!-- 상품카테고리 조회화면(최민중) -->
	<select id="getGoodsCateList" parameterType="String" resultMap="goodsCateResultMap">
		SELECT 
			c.categoryCode, c.categoryName, c.martCode, c.ID, DATE(c.regDate) AS regDate
			,u.name
		FROM 
			tb_category AS c
			INNER JOIN
			tb_user AS u
			ON
			c.ID = u.ID
		WHERE
			c.martCode = #{martCode} AND categoryCode >0
		ORDER BY c.regDate DESC
	</select>
</mapper>