<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.GoodsMapper">
	<resultMap type="Goods" id="goodsResultMap">
		<id column="businessCode" property="businessCode" />
		<id column="categoryCode" property="categoryCode" />
		<id column="ID" property="ID" />
		<result column="barcode" property="barcode" />
		<result column="goodsName" property="goodsName" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="maker" property="maker" />
		<result column="taxType" property="taxType" />
		<result column="purchasePrice" property="purchasePrice" />
		<result column="salesPrice" property="salesPrice" />
		<result column="margin" property="margin" />
		<result column="uncheckedQTY" property="uncheckedQTY" />
		<result column="warehouseStock" property="warehouseStock" />
		<result column="showcaseStock" property="showcaseStock" />
		<result column="goodsTotalStock" property="goodsTotalStock" />
		<result column="martCode" property="martCode" />
		<result column="regDate" property="regDate" />

		<association javaType="Business" property="business">
			<id column="businessCode" property="businessCode" />
			<result column="businessName" property="businessName"/>
		</association>
		<association javaType="GoodsCate" property="goodsCate">
			<id column="categoryCode" property="categoryCode"/>
			<result column="categoryName" property="categoryName"/>
			<result column="martCode" property="martCode"/>
			<result column="ID" property="ID"/>
			<result column="regDate" property="regDate"/>
		</association>
		<association javaType="User" property="user">
			<id column="ID" property="ID"/>
			<result column="name" property="name"/>
			<result column="PW" property="PW" />
			<result column="name" property="name" />
			<result column="birthday" property="birthday" />
			<result column="phone" property="phone" />
			<result column="email" property="email" />
			<result column="address" property="address" />
			<result column="martCode" property="martCode" />
			<result column="regDate" property="regDate" />
		</association>
	</resultMap> 
	
	<select id="getGoodsInfoByBarcode" parameterType="String" resultMap="goodsResultMap">
		SELECT
			c.categoryName
			,b.businessName
			,g.barcode
			,g.businessCode
			,g.categoryCode
			,g.goodsName
			,g.weight
			,g.unit
			,g.maker
			,g.taxType
			,g.purchasePrice
			,g.salesPrice
			,g.margin
			,g.uncheckedQTY
			,g.warehouseStock
			,g.showcaseStock
			,g.goodsTotalStock
			,g.martCode
			,g.ID
			,g.regDate
			,u.NAME	
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		WHERE
			g.barcode = #{barcode}
	</select>

 	<select id="getSearchGoodsList" parameterType="Map" resultMap="goodsResultMap">
		SELECT
			c.categoryCode
			,c.categoryName
			,b.businessCode
			,b.businessName
			,g.barcode
			,g.businessCode
			,g.categoryCode
			,g.goodsName
			,g.weight
			,g.unit
			,g.maker
			,g.taxType
			,g.purchasePrice
			,g.salesPrice
			,g.margin
			,g.uncheckedQTY
			,g.warehouseStock
			,g.showcaseStock
			,g.goodsTotalStock
			,g.martCode
			,g.ID
			,g.regDate
			,u.ID
			,u.NAME	
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="searchCategory != null and searchCategory != ''.toString()">
				AND c.categoryName = #{searchCategory}
			</if>
			<if test="minPurchasePrice != null and minPurchasePrice != 0">
				AND g.purchasePrice >= #{minPurchasePrice}
			</if>
 			<if test="maxPurchasePrice != null and maxPurchasePrice != 0">
				AND #{maxPurchasePrice} >= g.purchasePrice
			</if>
			<if test="searchTaxType != null and searchTaxType != ''.toString()">
				AND g.taxType = #{searchTaxType}
			</if>
			<if test="minSalesPrice != null and minSalesPrice != 0">
				AND g.salesPrice >= #{minSalesPrice}
			</if>
			<if test="maxSalesPrice != null and maxSalesPrice != 0">
				AND #{maxSalesPrice} >= g.salesPrice
			</if>
			<if test="searchGoodsName != null and searchGoodsName != ''.toString()">
				AND g.goodsName LIKE CONCAT('%', #{searchGoodsName}, '%')
			</if>
			<if test="martCode != null and martCode != ''.toString()">
				AND g.martCode = #{martCode}
			</if>
		</trim>	
	</select>
	<!--  -->
	<select id="getGoodsList" resultMap="goodsResultMap">
		SELECT
			c.categoryCode
			,c.categoryName
			,b.businessCode
			,b.businessName
			,g.barcode
			,g.businessCode
			,g.categoryCode
			,g.goodsName
			,g.weight
			,g.unit
			,g.maker
			,g.taxType
			,g.purchasePrice
			,g.salesPrice
			,g.margin
			,g.uncheckedQTY
			,g.warehouseStock
			,g.showcaseStock
			,g.goodsTotalStock
			,g.martCode
			,g.ID
			,g.regDate
			,u.ID
			,u.NAME	
		FROM
			tb_category AS c
			INNER JOIN 
			tb_goods AS g
			on
			c.categoryCode = g.categoryCode 
			INNER join
			tb_business AS b
			on
			g.businessCode = b.businessCode
			INNER join
			tb_user AS u
			ON 
			g.ID = u.ID
		WHERE
			g.martCode = #{martCode}
		ORDER BY
			c.categoryName
	</select> 

	<resultMap type="PurchasePrice" id="purchasePriceMap">
		<id column="martCode" property="martCode" />
		<id column="ID" property="ID" />
		<id column="barcode" property="barcode" />
		<result column="IDX" property="IDX" />
		<result column="regDate" property="regDate" />
		<result column="purchasePrice" property="purchasePrice" />

		<association javaType="Mart" property="mart">
			<id column="martCode" property="martCode" />
			<result column="martName" property="martName"/>
		</association>
		<association javaType="User" property="user">
			<id column="ID" property="ID"/>
			<result column="name" property="name"/>
		</association>
		<association javaType="Goods" property="goods">
			<id column="barcode" property="barcode" />
			<result column="goodsName" property="goodsName"/>	
		</association>
	</resultMap>
	<resultMap type="SalesPrice" id="salesPriceMap">
		<id column="martCode" property="martCode" />
		<id column="ID" property="ID" />
		<id column="IDX" property="IDX" />
		<id column="barcode" property="barcode" />
		<result column="regDate" property="regDate" />
		<result column="salesPrice" property="salesPrice" />

		<association javaType="Mart" property="mart">
			<id column="martCode" property="martCode" />
			<result column="martName" property="martName"/>
		</association>
		<association javaType="User" property="user">
			<id column="ID" property="ID"/>
			<result column="name" property="name"/>
		</association>
		<association javaType="Goods" property="goods">
			<id column="barcode" property="barcode" />
			<result column="goodsName" property="goodsName"/>	
		</association>
	</resultMap>

	<select id="getPurchasePriceListByBarcode" resultMap="purchasePriceMap">
		SELECT
			p.IDX
			,p.purchasePrice
			,p.regDate
			,u.name
		FROM 
			tb_purchasePrice AS p
			INNER join
			tb_user AS u
			ON
			p.ID = u.ID
		WHERE
			p.barcode = #{barcode}
		ORDER BY
			p.regDate DESC
	</select>
	<select id="getSalesPriceListByBarcode" resultMap="salesPriceMap">
		SELECT
			s.IDX
			,s.salesPrice
			,s.regDate
			,u.name 
		FROM 
			tb_salesPrice AS s
			INNER join
			tb_user AS u
			ON
			s.ID = u.ID
		WHERE
			s.barcode = #{barcode}
		ORDER BY
			s.regDate DESC
	</select>

	<update id="updateGoodsPrice">
		UPDATE 
			tb_goods
		SET
			salesPrice= #{salesPrice}
		WHERE
			barcode= #{barcode}
	</update>
	<insert id="addSalesPrice" parameterType="Map">
		INSERT INTO tb_salesPrice
			(barcode, salesPrice, martCode, ID, regDate)
		VALUES(
			#{barcode}
			,#{salesPrice}
			,#{martCode}
			,#{ID}
			,NOW()
		);
	</insert>
	
</mapper>