<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.MartMapper">
	<resultMap type="Mart" id="martResultMap">
		<result column="martCode" 			property="martCode" />
		<result column="martName" 			property="martName" />
		<result column="partnerName" 		property="partnerName" />
		<result column="partnerPhone" 		property="partnerPhone" />
		<result column="registerNum" 		property="registerNum" />
		<result column="sectors" 			property="sectors" />
		<result column="status" 			property="status" />
		<result column="callNum" 			property="callNum" />
		<result column="address" 			property="address" />
		<result column="FAX" 				property="fax" />
		<result column="martStaff" 			property="martStaff" />
		<result column="martStaffPhone"		property="martStaffPhone" />
		<result column="martStaffEmail"		property="martStaffEmail" />
		<result column="note" 				property="note" />
		<result column="regDate" 			property="regDate" />
		<result column="editDate" 			property="editDate" />
	</resultMap>	
	
	<!-- 매장 조건검색 -->
	<select id="getMartSearchList" parameterType="Map" resultType="Mart">
	SELECT 
		martCode, martName, partnerName, registerNum, sectors, status, regDate, serviceUse
	FROM
		tb_mart
	WHERE
		martCode != 'GOODSJOC'
		<if test="startDate != null and startDate != ''.toString()">
				AND regDate >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''.toString()">
				AND #{endDate} >= regDate
		</if>
		<if test="serviceUse != null and serviceUse != ''.toString()">
				AND serviceUse = #{serviceUse}
		</if>
		<if test="martName != null and martName != ''.toString()">
				AND martName IKE CONCAT('%', #{martName}, '%')
		</if>
	GROUP BY
		regDate DESC
	</select>
	
	<!-- 매장리스트 -->
	<select id="getMartList" resultType="Mart">
	SELECT 
		martCode, martName, partnerName, registerNum, sectors, status, regDate, serviceUse
	FROM
		tb_mart
	WHERE
		martCode != 'GOODSJOC'
	GROUP BY
		regDate DESC
	</select>
	
	<!-- 마트등록 -->
	<insert id="martInsertAction">
		INSERT INTO tb_mart(
			martCode
			,martName
			,partnerName
			,partnerPhone
			,registerNum
			,sectors
			,status
			,callNum
			,address
			,FAX
			,martStaff
			,martStaffPhone
			,martStaffEmail
			,note
			,regDate
		)VALUES (
			#{martCode}
			,#{martName}
			,#{partnerName}
			,#{partnerPhone}
			,#{registerNum}
			,#{sectors}
			,#{status}
			,#{callNum}
			,#{address}
			,#{fax}
			,#{martStaff}
			,#{martStaffPhone}
			,#{martStaffEmail}
			,#{note}
			,NOW()
		)
	</insert>

    <!-- 마트고유번호 사용유무 체크 -->
	<select id="martCodeCheck" parameterType="String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_mart
		WHERE
			martCode = #{martCode};
	</select>

	<update id="updateMartInfo" parameterType="Mart">
		UPDATE
			tb_mart	
		<trim prefix="SET" prefixOverrides=",">
			<if test="martName != null and martName != ''.toString()">
				,martName = #{martName}
			</if>
			<if test="partnerName != null and partnerName != ''.toString()">
				,partnerName = #{partnerName}
			</if>
			<if test="partnerPhone != null and partnerPhone != ''.toString()">
				,partnerPhone = #{partnerPhone}
			</if>
			<if test="registerNum != null and registerNum != ''.toString()">
				,registerNum = #{registerNum}
			</if>
			<if test="sectors != null and sectors != ''.toString()">
				,sectors = #{sectors}
			</if>
			<if test="callNum != null and callNum != ''.toString()">
				,callNum = #{callNum}
			</if>
			<if test="address != null and address != ''.toString()">
				,address = #{address}
			</if>
			<if test="fax != null and fax != ''.toString()">
				,FAX = #{fax}
			</if>
			<if test="martStaff != null and martStaff != ''.toString()">
				,martStaff = #{martStaff}
			</if>
			<if test="martStaffPhone != null and martStaffPhone != ''.toString()">
				,martStaffPhone = #{martStaffPhone}
			</if>
			<if test="martStaffEmail != null and martStaffEmail != ''.toString()">
				,martStaffEmail = #{martStaffEmail}
			</if>
			<if test="note != null and note != ''.toString()">
				,note = #{note}
			</if>
			,editDate=NOW()
		</trim>
		WHERE 
			martCode=#{martCode}
	</update>

	<select id="getMartInfoByMartCode" parameterType="String" resultMap="martResultMap">
		SELECT 
			martCode, martName, partnerName, partnerPhone, registerNum, sectors, status, callNum
			, address, FAX, martStaff, martStaffPhone, martStaffEmail, note, regDate, editDate
		FROM 
			tb_mart
		WHERE 
			martCode = #{martCode};
	</select>
</mapper>