<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.OrderMapper">
	<!-- Order ResultMap (정도혜) -->
	<resultMap type="Order" id="OrderResultMap">	
		<id column="orderCode" 					property="orderCode"/>
		<result column="businessCode" 			property="businessCode"/>
		<result column="orderNum" 				property="orderNum"/>
		<result column="deliveryDate" 			property="deliveryDate"/>
		<result column="state" 					property="state"/>
		<result column="purchaseDate" 			property="purchaseDate"/>
		<result column="martCode" 				property="martCode"/>
		<result column="ID" 					property="id"/>
		<result column="regDate" 				property="regDate"/>
		
		<association javaType="Business" property="business">
			<id column="businessCode" 	property="businessCode"/>
			<result column="businessName" 			property="businessName"/>
		</association>		
	</resultMap>
	
	<!-- 주문 전체조회(정도혜) -->
	<select id="getOrderList" parameterType="String" resultMap="OrderResultMap">
	SELECT 
		o.orderCode, 
		o.businessCode, 
		o.orderNum, 
		o.deliveryDate, 
		o.state, 
		o.purchaseDate,
		o.martCode, 
		o.id, 
		o.regDate,
		b.businessName
	FROM  
		tb_order AS o
	INNER JOIN tb_business AS b
		ON o.businessCode = b.businessCode
	
	</select>
	
	<!-- 주문 조건검색(정도혜) -->
	<select id="getOrderListBySearchKey" resultMap="OrderResultMap">		 
	SELECT 
		o.orderCode, 
		o.businessCode, 
		o.orderNum, 
		o.deliveryDate, 
		o.state, 
		o.purchaseDate, 
		o.martCode, 
		o.id, 
		o.regDate,
		b.businessName
	FROM 
		tb_order AS o
		INNER JOIN 
		tb_business AS b
		ON
		o.businessCode = b.businessCode
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchValue != null and searchValue != ''.toString()">
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</trim>
	</select>
	
	
	</mapper>