<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.PurchaseMapper">
	<!-- Purchase ResultMap (오대성) -->
	<resultMap type="Purchase" id="purchaseResultMap">
		<id column="orderCode" 				property="martCode"/>
		<result column="martCode" 			property="martCode"/>
		<result column="martName" 			property="martName"/>
		<result column="businessCode" 		property="businessCode"/>
		<result column="businessName" 		property="businessName"/>
		<result column="purchaseDate" 		property="purchaseDate"/>		
		<result column="orderNum" 			property="orderNum"/>
		<result column="goodsName"			property="goodsName"/>
		<result column="purchasePrice" 		property="purchasePrice"/>
		<result column="QTY" 				property="QTY"/>
		<result column="totalPrice" 		property="totalPrice"/>
		<result column="supplyPrice" 		property="supplyPrice"/>
		<result column="VAT" 				property="VAT"/>
		
		<association javaType="Business" 	property="business">
			<id column="businessCode" 		property="businessCode"/>
			<result column="partnerName" 	property="partnerName"/>
			<result column="address" 		property="address"/>
			<result column="businessType" 	property="businessType"/>
			<result column="sectors" 		property="sectors"/>
			<result column="partnerPhone" 	property="partnerPhone"/>
		</association>
		<association javaType="Mart" property="mart">
			<id column="martCode" 	property="martCode"/>
			<result column="partnerName" 	property="partnerName"/>
			<result column="address" 		property="address"/>
			<result column="sectors" 		property="sectors"/>
			<result column="partnerPhone" 	property="partnerPhone"/>
		</association>
	</resultMap>		
	
	<!-- Purchase 전체조회 (오대성) -->
	<select id="getPurchaseList" resultType="Purchase" resultMap="purchaseResultMap">
		SELECT 
			martCode, 
			martName, 
			businessName, 
			date_format(purchaseDate, '%Y-%m-%d') AS purchaseDate, 
			orderNum, 
			goodsName, 
			purchasePrice, 
			QTY, 
			totalPrice, 
			supplyPrice, 
			VAT
		FROM 
			view_purchase
	</select>
	<!-- 거래명세서 조회(오대성) -->
	<select id="getPurchaseDetailList" resultType="Purchase" resultMap="purchaseResultMap">
		SELECT 
			p.businessName,
			b.partnerName,
			b.address,
			b.businessType,
			b.sectors,
			b.partnerPhone,
			p.martName,
			m.partnerName,
			m.address,
			m.sectors,
			m.partnerPhone,
			DATE_FORMAT(p.purchaseDate, '%Y-%m-%d') AS purchaseDate
		FROM 
			view_purchase AS p
		INNER JOIN 
			tb_business AS b
		on 
			p.martCode = b.martCode
		INNER JOIN 
			tb_mart AS m 
		ON
			p.martCode = m.martCode
		WHERE
			p.martCode = #{martCode}
	</select>
	<!-- Purchase 검색(오대성)  -->
	<select id="getPurchaseBySearchKey" resultType="Purchase" resultMap="purchaseResultMap">
		SELECT 
			p.businessName, 
			date_format(p.purchaseDate, '%Y-%m-%d') AS purchaseDate, 
			p.goodsName, 
			p.QTY
		FROM 
			view_purchase AS p
		WHERE
			p.martCode = #{martCode}
			<if test="searchValue != null and searchValue != ''.toString()">
				AND ${searchKey} LIKE CONCAT ('%', #{searchValue}, '%')
			</if>
			<if test="startDt != null and startDt != ''.toString() and endDt != null and endDt != ''.toString()">
				AND date_format(p.purchaseDate, '%Y-%m-%d') BETWEEN #{startDt} AND #{endDt}
			</if>
	</select>
	
	
	<select id="getPurchaseListByOrderCode" resultType="Purchase" resultMap="purchaseResultMap">
		SELECT 
			p.orderCode, 
			p.martCode, 
			p.martName, 
			p.businessName, 
			DATE(p.purchaseDate) AS purchaseDate, 
			p.orderNum,
			p.goodsName, 
			p.purchasePrice, 
			p.QTY,
			p.totalPrice, 
			p.supplyPrice, 
			p.VAT,
			b.partnerName, 
			b.address,
			b.businessType, 
			b.sectors, 
			b.partnerPhone,
			m.partnerName, 
			m.partnerPhone, 
			m.sectors, 
			m.address
		FROM
			view_purchase AS p
			INNER JOIN
			tb_business AS b
			ON
			p.businessCode = b.businessCode
			INNER JOIN
			tb_mart AS m
			ON
			p.martCode = m.martCode
			
		WHERE
			p.orderCode = #{orderCode};
	</select>
</mapper>