<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.SalesMapper">
	<!-- Sales ResultMap (정도혜) -->
	<resultMap type="Sales" id="salesResultMap">
		<result column="salesCode" 				property="salesCode"/>
		<result column="receiptNum" 			property="receiptNum"/>
		<result column="salesTotalPrice" 		property="salesTotalPrice"/>
		<result column="martCode" 				property="martCode"/>		
		<result column="ID" 					property="ID"/>
		<result column="regDate"				property="regDate"/>
		<result column="canselCheck" 			property="canselCheck"/>
		<result column="casnselStaff" 			property="casnselStaff"/>
		<result column="canselDate" 			property="canselDate"/>
	</resultMap>		
	
	<!-- Sales 전체조회 (정도혜) -->
	<select id="getSalesList" parameterType="String" resultMap="salesResultMap">
		SELECT 
			salesCode, 
			receiptNum, 
			salesTotalPrice, 
			martCode, 
			ID,
			regDate, 
			canselCheck, 
			casnselStaff, 
			canselDate
		FROM 
			tb_sales
	</select>

	<select id="getSalesListBySearchKey" resultType="Sales">
		SELECT 
			s.salesCode,
			s.receiptNum,
			s.salesTotalPrice,
			s.martCode,
			s.ID,
			s.regDate,
			s.canselCheck,
			s.casnselStaff,
			s.canselDate,
			date_format(s.regDate, '%Y-%m-%d') AS regDate
		FROM 
			tb_sales AS s
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchValue != null and searchValue != ''.toString()">
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
			<if test="startDt != null and startDt != ''.toString() and endDt != null and endDt != ''.toString()">
				AND date_format(s.regDate, '%Y-%m-%d') BETWEEN #{startDt} AND #{endDt}
			</if>
		</trim>	
	</select>
</mapper>