<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k5.goodsjoc.mapper.UserMapper">
	<!-- user innerjoin level resultMap(최민중)-->
	<resultMap type="User" id="userResultMap">
		<id column="ID"				property="id"/>
		<result column="PW"			property="pw"/>
		<result column="name"		property="name"/>
		<result column="birthday"	property="birthday"/>
		<result column="phone"		property="phone"/>
		<result column="email"		property="email"/>
		<result column="address"	property="address"/>
		<result column="martCode"	property="martCode"/>
		<result column="levelNum"	property="levelNum"/>
		<result column="regDate"	property="regDate"/>		
		
		<association javaType="Level" property="level">
			<id column="levelNum"	property="levelNum"/>
			<result column="levelName"	property="levelName" />
		</association>

		<association javaType="Mart" property="mart">
			<id column="martCode"	property="martCode"/>
			<result column="martName"	property="martName" />		
		</association>
	</resultMap>
	
	<resultMap type="level" id="levelResultMap">
		<result column="levelNum"	property="levelNum" />
		<result column="levelName"	property="levelName" />
		<result column="note"		property="note"/>
	</resultMap>

	<!-- 매장별 직원 조회 레벨순서(최민중) -->
	<select id="getUserList" parameterType="String" resultMap="userResultMap">
		SELECT 
			u.ID, u.PW, u.name, u.birthday, u.phone, u.email, u.address, u.martCode, u.levelNum, u.regDate
			,l.levelName
		FROM 
			tb_user AS u
			INNER JOIN 
			tb_systemLevel AS l
			ON
			u.levelNum = l.levelNum
		WHERE
			martCode= #{martCode}
		ORDER BY
			u.levelNum ASC;
	</select>

	<!-- ID로 유저정보 조회(최민중) => 로그인, 개인정보수정, 등록자이름 -->
	<select id="getUserInfoByID" parameterType="String" resultMap="userResultMap">
		SELECT 
			u.ID, u.PW, u.name, u.birthday, u.phone, u.email, u.address, u.martCode, u.levelNum, u.regDate
			, l.levelName, m.martName
		FROM 
			tb_user as u
			INNER JOIN
			tb_systemLevel as l
			ON
			u.levelNum = l.levelNum
			INNER JOIN
			tb_mart as m
			ON
			u.martCode = m.martCode
		WHERE 
			ID = #{ID};
	</select>
	

	<select id="getUserListBySearchKey" resultMap="userResultMap">		 
		SELECT 
			u.name, 
			u.birthday, 
			u.phone,
			u.email,
			u.address,
			u.martCode, 
			u.levelNum
		FROM 
			tb_user AS u
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchValue != null and searchValue != ''.toString()">
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</trim>
	</select>
	
	<update id="userUpdateInfo" parameterType="User">
      UPDATE 
      	tb_user      
      <trim prefix="SET" prefixOverrides=",">
         <if test="name != null and name != ''.toString()">
            ,name = #{name}
         </if>
         <if test="PW != null and PW != ''.toString()">
            ,PW = #{PW}
         </if>
         <if test="birthday != null and birthday != ''.toString()">
            ,birthday = #{birthday}
         </if>
         <if test="levelNum != null and levelNum != ''.toString()">
            ,levelNum = #{levelNum}
         </if>
         <if test="email != null and email != ''.toString()">
            ,email = #{email}
         </if>
         <if test="phone != null and phone != ''.toString()">
            ,phone = #{phone}
         </if>
         <if test="address != null and address != ''.toString()">
            ,address = #{address}
         </if>
      </trim>
      WHERE 
         ID=#{ID};
   </update>

	<update id="updateUserLevel" parameterType="User">
		UPDATE 
			tb_user      
		SET   
			levelNum = #{levelNum}          
		WHERE 
			ID=#{id};
   </update>

</mapper>