<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>반품 등록</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 재고관리 > 반품조회 > 반품등록
   </th:block>
<th:block layout:fragment="customContents">
			<!---------------반품 등록---------------->
			<div class="col-md-7 mx-auto">
				<div class="card card-warning card-tabs">
					<div class="card-header">
						<h3 class="card-title"><b>반품 등록</b></h3>

						<div class="card-tools">
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse" title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<!----------------반품 등록 폼 ---------------->
					 <form th:action="@{/stock_management/goodsReturn/returnInsertAction}" method="POST" id="ReturnInsertAction" class="form-horizontal">    
             <div class="card-body">          
               <!-- 매출등록폼  -->                      
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ상품 ㅤ/ㅤ</label>
                <button type="button" id="searchReturnBtn" class="btn-sm bg-info disabled color-palette"
					data-toggle="modal" data-target="#modal-default2">
					<b>상품 검색</b>
				</button>
                  <div class="input-group-append">
                  <input type="text" class="form-control form-control-border border-warning" id="goodsNameInput" name="goodsName" readonly="readonly">
                </div>
               </div> 
               
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ바코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="barcodeInput" name="barcode" readonly="readonly">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ매입처명</label>
                  <input type="text" class="form-control form-control-border border-warning" id="businessNameInput" name="businessName" readonly="readonly">
                </div>

                <div class="form-group" style="display: none;">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ매입처코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="businessCodeInput" name="businessCode" readonly="readonly">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ매입 단가</label>
                  <input type="text" class="form-control form-control-border border-warning" id="purchasePriceInput" name="purchasePrice" readonly="readonly">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ수량</label>
                  <input type="number" class="form-control form-control-border border-warning" id="qtyInput" name="uncheckedQTY" >
                </div>
                            
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ합계</label>
                  <input type="text" class="form-control form-control-border border-warning"  id="totalpricesInput">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i> 반품예정일</label>
                  <input type="date" class="form-control  border-warning"  id="returnDateInput">
                </div>
                
                <div style="display:none">
					<input type="text" name="id" th:value="${session.SID}" readonly>
					<input type="text" name="martCode" th:value="${session.SMARTCODE}" readonly>
				</div>
             </div>
        	 <!--등록 버튼 -->   
	         <div class="d-flex justify-content-center" style="margin: 0cm 0cm 1cm 18cm">
	            <button type="submit" style="margin-left: 5px" class="btn btn-warning">
	               <b>등록</b>
	            </button>
	            <a th:href="@{/stock_management/goodsReturn/returnList}" style="margin-left: 15px" class="btn btn-danger">
	               <b>닫기</b>
	            </a>
	        </div>      
         </form>
	</div>
</div>
<!-- 상품 검색 모달  -->
<form th:action="@{/stock_management/goodsReturn/returnInsertAction}" method="POST" id="goodsReturnInsertForm" class="form-horizontal">
<div class="modal content" id="modal-default2" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<h4 class="modal-title"><b>상품 검색</b></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-auto">
				<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
						<div class="col-sm-15">
							<table style="width:100%" id="dataTableAjax2" class="text-center table table-bordered dataTable dtr-inline"
								role="grid" aria-describedby="example2_info">
								<thead>
									<tr style="width:100%" role="row">
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" style="t" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending" aria-sort="ascending">
												바코드
											</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
												상품명
											</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending" aria-sort="ascending">
												매입처명
											</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending" aria-sort="ascending">
												상품가격
											</th>
											<th tabindex="0" rowspan="1" colspan="1">
												선택하기
											</th>											
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
</th:block>
<th:block layout:fragment="customJs">			
	<script>							
		//상품리스트 조회 AJax
		$(function(){
		
			//상품가격 자동등록
			$('#qtyInput').keyup(function(){
				var returnPriceInput = Number($('#returnPriceInput').val());
				var qtyInput = Number($('#qtyInput').val());	
				
				//총가격
				totalpricesInput.val(returnPriceInput*qtyInput);
				
				
				
			});
				
			// 상품목록 ajax
			$(document).on('click', '#searchReturnBtn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#dataTableAjax2').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/stock_management/goodsReturn/searchGoodsModal',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ data: "barcode"},
						{ data: "goodsName"},
						{ data: "businessName"},
						{ data: "purchasePrice"},
					],
					columnDefs: [
						{
							targets: [4],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn2 = '<button type="button" data-dismiss="modal" class="btn btn-info goodsPickBtn" data-barcode="'+ row.barcode +'" data-goodsName="'+ row.goodsName +'" data-businessName="'+ row.businessName+ '" data-purchasePrice="'+row.purchasePrice+'">선택</button>';
								return htmlbtn2;
							}
						}
					]
				});
			});
			
			//상품 선택
			$(document).on('click', '.goodsPickBtn', function(){
				console.log($(this));
				var barcodePick = $(this).attr('data-barcode');
				var goodsNamePick = $(this).attr('data-goodsName');
				var purchasePricePick = $(this).attr('data-purchasePrice');
				var businessNamePick = $(this).attr('data-businessName');
						
				$('#barcodeInput').val(barcodePick);
				$('#goodsNameInput').val(goodsNamePick);
				$('#purchasePriceInput').val(purchasePricePick);
				$('#businessNameInput').val(businessNamePick);
			});

		});						
		</script>	
	</th:block>
			<!-- /.card -->
	