<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>매입출 관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
      > 거래관리 > 매출 및 영수증
   </th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
	<!-- 주문 검색,등록버튼 -->
	<div class="col-md-12">
		<div class="card card-warning color-pallete">
			<div class="card-header">
				<h3 class="card-title">
					<b>매출관리</b>
				</h3>
			</div>
			<div class="card-body">
			<form th:action="@{/trade_management/sales/salesList}" method="post">
				<div class="tab-content" id="custom-tabs-two-tabContent">
					<!-- 매출검색 -->
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">키워드검색</label>
						<div class="col-sm-2">
							<select name="searchKey" class="form-control custom-select">
								<option value="">:: 선택  ::</option>
								<option value="receiptNum">영수증번호</option>
								<option value="salesTotalPrice">매출액</option>
								<option value="casnselStaff">취소담당자</option>
							</select>
						</div>
						<div class="input-group input-group-m" style="width: 500px;">
							<input type="text" name="searchValue" style="margin-left: 3%"
								class="form-control float-right" placeholder="검색어를 입력해주세요.">
							<div class="input-group-append"></div>
						</div>
						<div class="d-flex justify-content-center" style="margin: 0 10px 0 10px">
							<button type="submit" class="btn btn-warning">
								<b>검색</b>
							</button>
						</div>
						<div class="d-flex justify-content-center">
							<a th:href="@{/trade_management/sales/salesInsert}">
								<button type="button" class="btn btn-info">
									<b>매출 등록</b>
								</button>
							</a>	
						</div>
					</div>
				</div>

				<!-- 주문일자검색 -->
				<div class="form-group row">
					<label class="col-sm-1 col-form-label">일자검색</label>
					<div class="col-sm-2">
						<input type="date" name="startDt" id="date" class="form-control">
					</div>
					<th:block>
						<b>~</b>
					</th:block>
					<div class="col-sm-2">
						<input type="date"  name="endDt" id="date" class="form-control">
					</div>
					<!-- 취소여부 검색
					<label class="col-sm-1 col-form-label">취소 여부</label>
					<div class="col-sm-2">
						<select id="searchCancell" class="form-control custom-select">
							<option value="취소">취소</option>
							<option value="미취소">미취소</option>
						</select>
					</div> -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-------------------매출 조회 폼--------------------->
<div class="col-12">
	<div class="card card-warning card-tabs">
		<div class="card-header p-0 pt-1"></div>
		<!-- /.card-header -->
		<div class="card-body table-responsive p-0" style="height: 400px;">
			<div class="col-12">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th>순번</th>
							<th>영수증번호</th>
							<th>매출액</th>
							<th>거래일시</th>
							<th>상세보기</th>
							<th>취소 여부</th>
							<th>취소 일시</th>
							<th>수 정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(salesList)}" th:each="l, i : ${salesList}">
							<td th:text="${i.index+1}"></td>
							<td th:text="${l.receiptNum}"></td>
							<td th:text="${l.salesTotalPrice}"></td>
							<td th:text="${l.regDate}"></td>
							<td>
								<button type="submit" class="btn btn-outline-primary btn-xs"
									data-toggle="modal" data-target="#exampleModalCenter">영수증</button>
							</td>
							<td th:text="${l.canselCheck}"></td>
							<td th:text="${l.canselDate}"></td>
							<td>
								<!-- 수정버튼 -->
								<button th:href="@{/trade_management/sales/salesUpdate}" class="btn-sm btn-info"> 
									<i class="fas fa-highlighter"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!--------------영수증 Modal-------------->
<div id="print">
<form th:action="@{/trade_management/sales/salesList}" method="post">
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h5 class="modal-title" id="SalesDetall">영수증</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
			<!-- 영수증 기본상세내역  -->
			
			<div class="modal-body">
				<div class="invoice p-3 mb-3">
					<!-- info row -->
					<div class="row invoice-info">
						<div class="col">
							<b>매장명</b> : 다모아 마트 <br> 
							<b>사업자번호</b> :  000-0000-000<br>
							<b>대표자</b> : 정도혜 <br> 
							<b>전화번호 :</b> 010-000-000<br> 
							<b>주소 :전라북도 전주시 덕진구 인후동</b> <br>
						</div>
						<!-- 저장 & 프린트 버튼  -->
						<div class="row no-print">
							<div class="col-12">
								<button type="button" value="인쇄하기" id="print" onclick="javascript:content_print();" class="btn-sm btn-info float-right" style="margin-right: 5px;">
									<i class="fas fa-download">ㅤPrint</i>
								</button>
								<button type="button" id="salesBtn" class="btn-sm btn-danger float-right"
									style="margin-right: 5px;">
									<i class="fas fa-times-circle">ㅤ영수증 취소</i>
								</button>									
							</div>
						</div>
						</div>
						<!-- 영수증 발행시각 -->
						<div class="col-15" style="text-align: center;">
							<h4 style="margin-top: 10%">
								<i>영수증 : </i><a> 00001</a><br> <small>[ 발행일시: 2021-12-12 오전 8:41:09 ]</small>
							</h4>
						</div>							
						<!-- 영수증 테이블-->
						<div class="row">
							<div class="col-15 table-responsive">
								<table class="table table-striped" style="text-align: center;">
									<thead style="text-align: center;">
										<tr>
											<th>상품명</th>
											<th>단가</th>
											<th>수량</th>
											<th>금액</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(salesDetail)}" th:each="l : ${salesDetail}">
											<td th:text="${l.goods.getGoodsName()}"></td>
											<td th:text="${l.goods.getSalesPrice()}"></td>
											<td th:text="${l.QTY}"></td>
											<td th:text="${l.totalPrice}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 영수증 하단  -->
						<div class="row">
							<div class="col-4">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<th>VAT :</th>
											</tr>
											<tr>
												<th>합계 :</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>				
					<th:block layout:fragment="customJs">
						<script>
							$(function(){
								$(document).on('click', '#salesBtn', function(){
									alert('정말 취소하시겠습니까?');
									$('#saleForm').submit();
								});
							});
						</script>
					</th:block>
					<button type="button" class="btn btn-warning float-right" data-dismiss="modal">
						<b>닫기</b>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>		
</div>
</div>
<script type="text/javascript"> 
	//모달 영역지정 프린트 
	function content_print(){
		   
	    var initBody = document.body.innerHTML;
	    window.onbeforeprint = function(){
	        document.body.innerHTML =
	
	                         document.getElementById('print').innerHTML;
	    }
	    window.onafterprint = function(){
	        document.body.innerHTML = initBody;
	    }
	    window.print();    
	}           
</script>

