<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
   <title>매출관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 거래관리 > 매출관리 > 매출수정
   </th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
      <!-- 폼 헤더 -->
	    <div class="col-md-7 mx-auto">      
          <div class="card card-warning card-tabs">
         	 <div class="card-header">  
          		<h3 class="card-title">
              		<b><i class="fas fa-coins"></i>ㅤ매출 수정</b>
               </h3>        
            </div>
             <div class="card-body">          
               <!-- 매출등록폼  -->                      
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ상품 ㅤ/ㅤ</label>
                <button type="button" id="searchGoodsBtn" class="btn-sm bg-info disabled color-palette"
					data-toggle="modal" data-target="#modal-default2">
					상품 검색	
				</button>
                  <div class="input-group-append">
                  <input type="text" class="form-control form-control-border border-warning" id="goodsNameInput"  readonly="readonly">
                </div>
               </div> 
               
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ바코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="barcodeInput" readonly="readonly">
                </div>
                
                 <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ유형 </label>
                  <input type="text" class="form-control form-control-border border-warning" id="taxTypeInput" readonly="readonly">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ매입처명</label>
                  <input type="text" class="form-control form-control-border border-warning" id="businessNameInput" readonly="readonly">
                </div>

                <div class="form-group" style="display: none;">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ매입처코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="businessCodeInput" readonly="readonly">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ판매가</label>
                  <input type="text" class="form-control form-control-border border-warning" id="salesPriceInput" readonly="readonly">
                </div>
               
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ수량</label>
                  <input type="number" class="form-control form-control-border border-warning" id="qtyInput" readonly="readonly">
                </div>

                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ공급가액</label>
                  <input type="text" class="form-control form-control-border border-warning" id="supplyPriceInput" readonly="readonly">
                </div>

                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ부가세</label>
                  <input type="text" class="form-control form-control-border border-warning" id="vatInput" readonly="readonly">
                </div>
                            
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ합계</label>
                  <input type="text" class="form-control form-control-border border-warning" id="totalpricesInput" readonly="readonly">
                </div>
             </div>
         <!--수정 버튼 -->   
         <div class="d-flex justify-content-center" style="margin: 0cm 0cm 1cm 12cm">
            <button type="button" style="margin-left: 5px" class="btn btn-warning">
               <b>등록</b>
            </button>
            <a th:href="@{/trade_management/sales/salesList}" style="margin-left: 5px" class="btn btn-danger">
               <b>닫기</b>
            </a>
        </div>      
     </div>
   </div>
</html>