<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
   <title>매출관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 거래관리 > 매출관리 > 매출등록
   </th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
      <!-- 폼 헤더 -->
      <div class="col-md-8" style="margin-left: 5.5cm">      
            <!-- general form elements -->
            <div class="card card-warning card-tabs">
          <div class="card-header">  
           <h3 class="card-title">
               <b><i class="fas fa-coins"></i>ㅤ매출 등록</b>
               </h3>        
            </div>
              <!-- /.card-header -->
              <div class="card-body">
              <!-- 주문일자 선택 -->
             <div class="card-header"> 
             <div class="form-group row">
                    <label class="col-sm-2 col-form-label">날짜 선택: </label>
                     <div class="col-sm-4">
                        <input type="date" id="date" class="form-control">
                     </div>
                     <th:block><b>~</b></th:block>
                     <div class="col-sm-4">
                        <input type="date" id="date" class="form-control">
                    </div>              
                </div>
            </div>                  
               <!-- 매출등록폼  -->        
                <div class="form-group" style="margin-top: 1cm">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ바코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group" >
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ거래처 ㅤ/ㅤ</label>
                <button type="button" id="searchBusinessBtn" class="btn-sm bg-info disabled color-palette"
					data-toggle="modal" data-target="#modal-default2">
					거래처 검색	
				</button>
                  <div class="input-group-append">
                  <input type="text" class="form-control form-control-border border-warning" id="businessNameInput" readonly="readonly">
                </div>
               </div> 
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ판매가</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ수량</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder=입력해주세요.>
                </div>
                
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ공급가액</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ부가세</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ합계</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
               </div>
       
  
         <!--수정 버튼 -->   
         <div class="d-flex justify-content-center" style="margin: 0cm 0cm 1cm 16cm">
            <a th:href="@{/trade_management/sales/salesList}" style="margin-left: 5px" class="btn btn-warning">
               <b>등록</b>
            </a>
            <a th:href="@{/trade_management/sales/salesList}" style="margin-left: 5px" class="btn btn-danger">
               <b>닫기</b>
            </a>
         </div>      
       </div>
     </div>

<!-- 거래처 검색 모달  -->
<form th:action="@{/product_management/sales/salesInsertAction}" method="POST" id="salesInsertForm" class="form-horizontal">
<div class="modal fade" id="modal-default2" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" >
			<div class="modal-header bg-warning">
				<h4 class="modal-title">거래처 검색</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12">
							<table style="width:100%" id="dataTableAjax2" class="text-center table table-bordered table-hover dataTable dtr-inline"
								role="grid" aria-describedby="example2_info">
								<thead>
									<tr style="width:540px;" role="row">
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
												구분</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending"aria-sort="ascending">
												거래처명
											</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending"aria-sort="ascending">
												대표자
											</th>
											<th tabindex="0" rowspan="1" colspan="1">
												선택하기
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</th:block>
<th:block layout:fragment="customJs">			
	<script>							
		//거래처리스트 조회 AJax
		$(function(){
			$(document).on('click', '#searchBusinessBtn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#dataTableAjax2').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/basic_management/business/searchBusinessModal',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ data: "businessType"},
						{ data: "businessName"},
						{ data: "partnerName"},
						{ data: "businessCode"}								
					],
					columnDefs: [
						{
							targets: [3],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn2 = '<button type="button" data-dismiss="modal" class="btn btn-info businessPickBtn" data-businessCode="'+ row.businessCode +'" data-businessName="'+ row.businessName +'">선택</button>';
								return htmlbtn2;
							}
						}
					]
				});
			});
			
			//거래처 선택
			$(document).on('click', '.businessPickBtn', function(){
				var businessCodePick = $(this).attr('data-businessCode');
				var businessNamePick = $(this).attr('data-businessName');
				console.log(businessCodePick);
				console.log(businessNamePick);
				$('#businessCodeInput').val(businessCodePick);
				$('#businessNameInput').val(businessNamePick);
			});
		});						
		</script>
	</th:block>
</html>