
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
   <title>매출관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 거래관리 > 매출관리 > 매출등록
   </th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">
		<!-- 폼 헤더 -->
		<div class="col-md-8" style="margin-left: 5.5cm">		
            <!-- general form elements -->
            <div class="card card-warning card-tabs">
		 	<div class="card-header">  
			  <h3 class="card-title">
            	<b><i class="fas fa-coins"></i>ㅤ매출 등록</b>
       		  </h3>        
            </div>
              <!-- /.card-header -->
              <div class="card-body">
              <!-- 주문일자 선택 -->
             <div class="card-header"> 
 				<div class="form-group row">
		              <label class="col-sm-2 col-form-label">날짜 선택: </label>
		               <div class="col-sm-4">
		                  <input type="date" id="date" class="form-control">
		               </div>
		               <th:block><b>~</b></th:block>
		               <div class="col-sm-4">
		                  <input type="date" id="date" class="form-control">
		              </div>              
            	 </div>
        	 </div>                  
            	<!-- 매출등록폼  -->        
                <div class="form-group" style="margin-top: 1cm">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ바코드</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group" >
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ거레처 ㅤ/ㅤ</label>
					<button type="button" id="searchBusinessBtn" class="btn-xs btn-info" data-toggle="modal" data-target="#modal-default">
						거래처 조회
					</button>
                  <div class="input-group-append">
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
               </div> 
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ판매가</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ수량</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder=입력해주세요.>
                </div>
                
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ공급가액</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ부가세</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputBorderWidth2"><i class="fas fa-angle-double-right"></i>ㅤ합계</label>
                  <input type="text" class="form-control form-control-border border-warning" id="exampleInputBorderWidth2" placeholder="입력해주세요.">
                </div>
          	  </div>
    	
  
			<!--수정 버튼 -->	
			<div class="d-flex justify-content-center" style="margin: 0cm 0cm 1cm 16cm">
				<button type="submit" class="btn btn-warning">
					<b>등록</b>
				</button>
				<a th:href="@{/trade_management/sales/salesList}" style="margin-left: 5px" class="btn btn-danger">
					<b>닫기</b>
				</a>
			</div>		
       	 </div>
   	 </div>
</th:block>
</html>
