<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>상품 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
<a id="main" th:href="@{/main}" class="joc-a2"><b>MAIN</b></a>
	> 상품관리 > 조회
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 

	<div class="card card-warning">
		<div class="card-header">
			<h3 class="card-title">
				<b>상품단가 조정</b>
			</h3>
		</div>
		<div class="card-body table-responsive">
			<form th:action="@{/product_management/goods/goodsPriceUpdate}" method="post">
				<div class="row">
					<th:block th:if="${not #lists.isEmpty(goodsInfo)}" th:each="l : ${goodsInfo}">
						<div class="tab-content col-8" id="custom-tabs-two-tabContent">
								<div class="form-group row">
									<label class="col-sm-1 col-form-label">카테고리</label>
									<div class="col-sm-1" style="display:none">
											<input type="text" name="barcode" th:value="${l.barcode}" class="form-control" readonly>
									</div>
									<div class="col-sm-4">
											<input type="text" name="categoryName" th:value="${l.goodsCate.getCategoryName()}" class="form-control" readonly>
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-1 col-form-label">매입단가</label>
									<div class="col-sm-4">
										<input name="purchasePrice" type="number" th:value="${l.purchasePrice}" readonly class="form-control text-center" value=0>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-1 col-form-label">상품명</label>
									<div class="col-sm-4">
											<input type="text" name="goodsName" th:value="${l.goodsName}" class="form-control" readonly>
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-1 col-form-label">판매가</label>
									<div class="col-sm-4">
										<input name="salesPrice" th:value="${l.salesPrice}" type="number" class="form-control text-center" value=0>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-1 col-form-label">매입처</label>
									<div class="col-sm-4">
											<input type="text" name="businessName" th:value="${l.business.getBusinessName()}" class="form-control" readonly>
									</div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3">
										<button type="submit" class="btn btn-block bg-gradient-warning btn-lg">판매가 설정</button>
									</div>
									
								</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<table class="table table-bordered text-center">
									<thead>
										<tr>
											<th>총 재고</th>
											<th>창고</th>
											<th>매장</th>
											<th>미검수</th>
										</tr>
									<tbody>
										<tr>
											<td th:text="${l.goodsTotalStock}"></td>
											<td th:text="${l.warehouseStock}"></td>
											<td th:text="${l.showcaseStock}"></td>
											<td th:text="${l.uncheckedQTY}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</th:block>
				</div>
			</form>
		</div>
	</div>


	<div class="row">
		<div class="col-6">
			<div class="card card-warning">
				<div class="card-header p-0 pt-1">
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-head-fixed text-nowrap text-center">
						<thead>
							<tr>
								<th>매입단가</th>
								<th>매입일시</th>
								<th>등록자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(purchasePriceList)}" th:each="p : ${purchasePriceList}">
								<td th:text="${p.purchasePrice}"></td>
								<td th:text="${p.regDate}"></td>
								<td th:text="${p.user.getName()}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(purchasePriceList)}">
								<td colspan="3"><code>최근 거래내역이 없습니다.</code></td>
							</tr>
						</tbody>						
					</table>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card card-warning">
				<div class="card-header p-0 pt-1">
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-head-fixed text-nowrap text-center">
						<thead>
							<tr>
								<th>판매단가</th>
								<th>등록일시</th>
								<th>등록자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(salesPriceList)}" th:each="s : ${salesPriceList}">
								<td th:text="${s.salesPrice}"></td>
								<td th:text="${s.regDate}"></td>
								<td th:text="${s.user.getName()}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(salesPriceList)}">
								<td colspan="3"><code>판매가를 등록한 기록이 없습니다.</code></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	

</th:block>

</html>