<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>상품 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
<a id="main" th:href="@{/main}" class="joc-a2"><b>MAIN</b></a>
	> 상품관리 > 조회
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 

	<div class="card card-warning">
		<div class="card-header">
			<h3 class="card-title">
				<b>상품정보 조회</b>
			</h3>
		</div>
		<div class="card-body table-responsive">
			<div class="tab-content row" id="custom-tabs-two-tabContent">
				<div class="col-10">
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">카테고리</label>
						<div class="col-sm-3">
							<select class="form-control custom-select text-center">
								<th:block th:if="${not #lists.isEmpty(goodsCateList)}" th:each="cl : ${goodsCateList}">
									<option th:value="${cl.categoryName}" th:text="${cl.categoryName}"></option>
								</th:block>
								<th:block th:unless="${not #lists.isEmpty(goodsCateList)}">
									<option>카테고리 없음</option>
								</th:block>
							</select>	
						</div>
						<div class="col-sm-1"></div>
						<label class="col-sm-1 col-form-label">매입가</label>
						<div class="col-sm-2">
							<input type="number" class="form-control">
						</div>
							<b>~</b>
						<div class="col-sm-2">
							<input type="number" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">과세유형</label>
						<div class="col-sm-3">
							<select class="form-control custom-select text-center">
								<option value="과세" >과세</option>
								<option value="비과세" >비과세</option>
							</select>	
						</div>
						
						<div class="col-sm-1"></div>
						<label class="col-sm-1 col-form-label">판매가</label>
						<div class="col-sm-2">
							<input type="number" class="form-control">
						</div>
							<b>~</b>
						<div class="col-sm-2">
							<input type="number" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">상품명</label>
						<div class="col-sm-5">
							<input type="text" name="table_search" class="form-control float-right">
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-block bg-gradient-warning btn-lg">검색</button>
						</div>
					</div>
				</div>				
				<div class="col-2" align="center">
					<button type="button" class="btn btn-block bg-gradient-info btn-lg">
						<a class="joc-a1" th:href="@{/product_management/goods/goodsCate}">카테고리등록</a>
					</button>
					<button type="button" class="btn btn-block bg-gradient-info btn-lg">
						<a class="joc-a1" th:href="@{/product_management/goods/goodsInsert}"> 상품등록</a>
					</button>
					<button type="button" class="btn btn-block bg-gradient-info btn-lg">단가조정</button>
				</div>
			</div>
		</div>
	</div>



	<div class="card card-warning">
		<div class="card-header p-0 pt-1"></div>
		<div class="card-body table-responsive p-0">
			<table class="table table-head-fixed text-nowrap text-center">
				<thead>
					<tr>
						<th>번호</th>
						<th>과세유형</th>
						<th>카테고리</th>
						<th>상품명</th>
						<th>바코드</th>
						<th>재고량</th>
						<th>매입처</th>
						<th>매입단가</th>
						<th>판매단가</th>
						<th>마진</th>
						<th>수정 및 삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(goodsList)}" th:each="l, i : ${goodsList}">
						<td th:text="${i.index+1}"></td>
						<td th:text="${l.taxType}"></td>
						<td th:text="${l.goodsCate.getCategoryName()}">카테고리</td>
						<td th:text="${l.goodsName}">상품명</td>
						<td th:text="${l.barcode}">바코드</td>
						<td th:text="${l.goodsTotalStock}">재고량</td>
						<td th:text="${l.business.getBusinessName()}">매입처</td>
						<td th:text="${l.purchasePrice}">매입단가</td>
						<td th:text="${l.salesPrice}">판매단가</td>
						<td th:text="${l.margin}">마진</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a th:href="@{/product_management/goods/goodsUpdate}" class="btn btn-primary">
									<i class="fas fa-highlighter"></i>
								</a>
								<a href="#" class="btn btn-danger">
									<i class="fas fa-trash"></i>
									</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>

</th:block>

<!-- 스크립트 -->
<th:block layout:fragment="customJs">

</th:block>


</html>