<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>상품 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
<a id="main" th:href="@{/main}" class="joc-a2"><b>MAIN</b></a>
	> 상품관리 > 조회
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 

	<div class="card card-warning">
		<div class="card-header">
			<h3 class="card-title">
				<b>상품정보 조회</b>
			</h3>
		</div>
		<div class="card-body table-responsive">
			<form th:action="@{/product_management/goods/goodsList}" method="post">
				<div class="tab-content row" id="custom-tabs-two-tabContent">
					<div class="col-10">
						<div class="form-group row">
							<div class="col-1" style="display: none">
								<input type="text" id="cateCodeInput" name="searchCategory" class="form-control">
							</div>
							<label class="col-sm-1 col-form-label">카테고리</label>
							<div class="col-sm-3">
								<div class="input-group mb-2">
									<input type="text" id="cateNameInput" class="form-control text-center" readonly>
									<div class="input-group-append">
										<button type="button" id="searchCategoryBtn" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-sm-1"></div>
							<label class="col-sm-1 col-form-label">매입가</label>
							<div class="col-sm-2">
								<input name="minPurchasePrice" type="number" class="form-control text-center" value=0>
							</div>
							<div class="col-sm-1 text-center">
								<b>~</b>
							</div>	
							<div class="col-sm-2">
								<input name="maxPurchasePrice" type="number" class="form-control text-center" value=0>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">과세유형</label>
							<div class="col-sm-3">
								<select name="searchTaxType" class="form-control custom-select text-center">
									<option value="">전체보기</option>
									<option value="과세">과세</option>
									<option value="비과세">비과세</option>
								</select>	
								
							</div>
							<div class="col-sm-1"></div>
							<label class="col-sm-1 col-form-label">판매가</label>
							<div class="col-sm-2">
								<input name="minSalesPrice" type="number" class="form-control text-center" value=0>
							</div>
							<div class="col-sm-1 text-center">
								<b>~</b>
							</div>	
							<div class="col-sm-2">
								<input name="maxSalesPrice" type="number" class="form-control text-center" value=0>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">상품명</label>
							<div class="col-sm-5">
								<input name="searchGoodsName" type="text" class="form-control float-right">
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-block bg-gradient-warning btn-lg">검색</button>
							</div>
							<div class="col-sm-1">
								<a th:href="@{/product_management/goods/goodsList}" type="button" class="btn btn-block bg-gradient-warning btn-lg">
									<i class="fas fa-redo-alt"></i>
								</a>
							</div>
						</div>
					</div>				
					<div class="col-2" align="center">
						<a th:href="@{/product_management/goods/goodsCate}" class="btn btn-block bg-gradient-info btn-lg">카테고리등록</a>
						<a th:href="@{/product_management/goods/goodsInsert}" class="btn btn-block bg-gradient-info btn-lg">상품등록</a>
						<a th:href="@{/product_management/order/orderInsert}" class="btn btn-block bg-gradient-info btn-lg">상품주문</a>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div class="card card-warning">
		<div class="card-header p-0 pt-1"></div>
		<div class="card-body table-responsive p-0">
			<table class="table table-head-fixed text-nowrap text-center">
				<thead>
					<tr>
						<th>번호</th>
						<th>카테고리</th>
						<th>상품명</th>
						<th>바코드</th>
						<th>매입처</th>
						<th>과세유형</th>
						<th>재고량</th>
						<th>매입단가</th>
						<th>판매단가</th>
						<th>마진</th>
						<th>수정 및 삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(goodsList)}" th:each="l, i : ${goodsList}">
						<td th:text="${i.index+1}"></td>
						<td th:text="${l.goodsCate.getCategoryName()}">카테고리</td>
						<td th:text="${l.goodsName}">상품명</td>
						<td th:text="${l.barcode}">바코드</td>
						<td th:text="${l.business.getBusinessName()}">매입처</td>
						<td th:text="${l.taxType}"></td>
						<td th:text="${l.goodsTotalStock}">재고량</td>
						<td th:text="${l.purchasePrice}">매입단가</td>
						<td th:text="${l.salesPrice}">판매단가</td>
						<td th:text="${l.margin}">마진</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a th:href="@{/product_management/goods/goodsUpdate(barcode=${l.barcode})}" class="btn btn-primary">
									<i class="fas fa-highlighter"></i>
								</a>
								<a th:href="@{/product_management/goods/goodsPriceList(barcode=${l.barcode})}" class="btn btn-info">
									<i class="fas fa-won-sign"></i>
								</a>
								<a href="#" class="btn btn-danger">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>

	<!-- 카테고리 검색 모달  -->
	<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header bg-warning">
					<h4 class="modal-title">상품 카테고리 검색</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
						<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
							<div class="row">
								<div class="col-sm-12">
									<table style="width:100%" id="dataTableAjax" class="text-center table table-bordered table-hover dataTable dtr-inline"
										role="grid" aria-describedby="example2_info">
										<thead>
											<tr style="width:540px;" role="row">
												<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
													카테고리명</th>
												<th tabindex="0" rowspan="1" colspan="1">
													선택하기
												</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJs">		
	
	<script type="text/javascript">
		$(function(){
			$(document).on('click', '.catePickBtn', function(){
				var cateCodePick = $(this).attr('data-categoryCode');
				var cateNamePick = $(this).attr('data-categoryName');
				console.log(cateCodePick);
				console.log(cateNamePick);
				$('#cateCodeInput').val(cateCodePick);
				$('#cateNameInput').val(cateNamePick);
			});
			
			$(document).on('click', '#searchCategoryBtn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#dataTableAjax').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/product_management/goods/searchCategoryModal',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ data: "categoryName"},
						{ data: "categoryCode"}								
					],
					columnDefs: [
						{
							targets: [1],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn = '<button type="button" data-dismiss="modal" class="btn btn-info catePickBtn" data-categoryCode="'+ row.categoryCode +'" data-categoryName="'+ row.categoryName +'">선택</button>';
								return htmlbtn;
							}
						}
					]
				});
			});
		});
	</script>
	
</th:block>

</html>