<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<!-- 페이지 제목 공간 -->
	<th:block layout:fragment="customTitle">
		<title>메인</title>
	</th:block>
	<!-- 로케이션 제목 -->
	<th:block layout:fragment="locationTitle">

	</th:block>
	<!-- 로케이션 위치 -->
	<th:block layout:fragment="locationPlace">

	</th:block>
	
	<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">

	<h1 class="text-info">배포시간 : 2022-01-20_17:00 </h1>

	<h1 class="text-info">최민중 : 2022-01-21_16:09 </h1>

	<h1 class="text-info">오대성 : 2022-01-21_16:16 </h1>

</th:block>
</html>