<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title> 페이지제목 넣는 공간 </title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
	현재 메인컨텐츠 페이지 알려주는 공간
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	현재 페이지 들어온 경로 적어주는 공간
	
	<a th:href="@{/main}">MAIN</a> →메인화면으로가는 하이퍼링크
	> 기초관리 > 거래처 관리 > 조회
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 

	우리가 진짜 작업해야할 공간

</th:block>
</html>