@charset "UTF-8";

/* 미확정 */




.joc-1{
	background-color: #fff;
}
.joc-2{
	background-color: #001F3F;
}

.joc-a1{
	color: #fff;
}
.jac-a2{
	color: #0000ff;
}


/* 확정 */
.preloader{
	background-color: #fff;
}
.joc-dark1{
	background-color: #EDEDED;
	/* header, content-wrappe */
}
.joc-dark2{
	background-color: #343a40;
	/* footer */
}
#main{
	color: #00ff00; 
}
#main:hover {
	color: #ffff00; 
}
