@charset "UTF-8";

/* 미확정 */


.joc-1{
	background-color: #fff;
}


.joc-a1{
	color: #fff;
}
.jac-a2{
	color: #0000ff;
}


/* 확정 */
.preloader{
	background-color: #fff;
}
.joc-dark1{
	background-color: #EDEDED;
	/* header, content-wrappe */
}
.joc-dark2{
	background-color: #343a40;
	/* footer */
}
#main{
	text-shadow:-1px 0 #343a40, 0 1px #343a40, 1px 0 #343a40, 0 -1px #343a40;
	color: #fff;
	font-size: 18px;
}
#main:hover {
	color: #ffff00; 
}
.width100 {
	width: 100%
}
.main-login {
	margin-top: 150px;
	width: 100%;
	justify-content: center;
    align-items: center;
}
.joc-2{
	background-color: #001F3F;
}
.joc-3{
	background-color: #001f3f;
}

