@charset "UTF-8";

/* 미확정 */
.joc-mode1{
	color: #001F3F;
}
.joc-mode2{
	color:
}
.joc-1{
	background-color: #fff;
}
.joc-2{
	background-color: #001F3F;
}




/* 확정 */
.preloader{
	background-color: #fff;
}
.content-wrapper{
	
}