<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>입고 등록</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
     	> 재고관리 > 입고 > 입고등록
   </th:block>
<th:block layout:fragment="customContents">
	<section class="content">
			<!---------------재고이동 등록---------------->
			<div class="col">
				<div class="card card-warning">
					<div class="card-header">
						<h3 class="card-title"><b>입고 등록</b></h3>

						<div class="card-tools">
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse" title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<!----------------재고이동 등록 폼 ---------------->
					<div class="card-body">
					<form class="form-horizontal" th:action="@{/stock_management/warehousing/warehousingInsert}" method="post">
						<div class="form-group">
							<label for="inputName"><code>*</code>상품명</label> <input type="text"
								id="inputName" class="form-control" name="goodsName">
						</div>
						<div class="form-group">
							<label for="inputProjectLeader"><code>*</code>창고명</label>
								<select class="form-control" name="warehouseCode">
									<th:block th:if="${not #lists.isEmpty(warehouseNameList)}" th:each="w : ${warehouseNameList}" class="form-control">
										<option th:value="${w.warehouseCode}" th:text="${w.warehouseName}"></option>
									</th:block>
								</select>
						</div>
						<div class="form-group">
							<label for="inputProjectLeader"><code>*</code>창고 진열대</label> <input
								type="text" id="inputProjectLeader" class="form-control" name="shelfName">
						</div>
						<div class="form-group">
							<label for="inputProjectLeader"><code>*</code>수량</label> <input type="text"
								id="inputProjectLeader" class="form-control" name="warehousingQTY">
						</div>
						<div class="form-group">
							<label for="warehouseType"><code>*</code>등록자</label> <input type="text"
								id="inputProjectLeader" class="form-control" th:value="${session.SNAME}" readonly="readonly">
						</div>
						
						<div class="form-group row" style="display:none">
							<label for="warehouseType" class="col-sm-2 col-form-label">아이디</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="ID" th:value="${session.SID}"  readonly="readonly">
								</div>
						</div>
						<div class="form-group row" style="display:none">
							<label for="warehouseType" class="col-sm-2 col-form-label">마트</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="martCode" th:value="${session.SMARTCODE}"  readonly="readonly">
								</div>
						</div>
						<div class="form-group">
							<label for="inputProjectLeader"><code>*</code>등록일자</label> <input type="date"
								id="inputProjectLeader" class="form-control" name="regDate">
						</div>
						</form>
					</div>
					<!-- /.card-body -->
					<!----------------버튼-------------->
					<a href="warehousingList"
						class="btn btn-m bg-info color-palette btn-block"><b>등록</b></a>
				</div>
			</div>

			<!-- /.card -->
	</section>