<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>입고관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 재고관리 > 입고관리
   </th:block>
<th:block layout:fragment="customContents">
	<section class="content">
			<!--------------------재고 검색 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header">
						<h3 class="card-title">
							<b>입고관리</b>
						</h3>
					</div>
					<div class="card-body">
						<div class="tab-content" id="custom-tabs-two-tabContent">
							<!-- 입고검색 -->
							<form th:action="@{/stock_management/warehousing/warehousingList}" method="post">
							<div class="row">
								<label class="col-sm-1 col-form-label">입고검색</label>
								<div class="col-sm-2">
									<select name="searchKey" class="form-control custom-select">
										<option>::선택::</option>
										<option value="goodsName">상품명</option>
										<option value="name">담당자</option>
										<option value="warehouseName">창고</option>
										<option value="shelfName">창고진열대</option>
									</select>
								</div>
								<div class="input-group input-group-m" style="width: 500px;">
									<input type="text" name="searchValue" style="margin-left: 3%"
										class="form-control float-right" placeholder="입고검색">
								</div>
								<div style="margin-left: 15%">
									<button type="submit" class="btn-lg btn-info">
										<b>검색</b>
									</button> 
									<a href="warehousingInsert">
										<button type="button" class="btn-lg btn-info">
											<b>등록</b>
										</button>
								</a>
								</div>
							</div>
							<!-----------------반품일검색------------------>
							<div class="row" style="margin-top: 1%">
								<!-- 주문일자검색 -->
								<label class="col-sm-1 col-form-label">등록일</label>
								<div class="col-sm-2">
									<input type="date" name="startDt" id="date" class="form-control">
								</div>
								<span style="font-weight: bold;"> ~ </span>
								<div class="col-sm-2">
									<input type="date" name="endDt" id="date" class="form-control">
								</div>
							</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
			<!-------------------검수 조회 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header p-0 pt-1"></div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 300px;">
						<div class="col-12">
							<table class="table table-hover text-nowrap">
								<thead>
									<tr>
										<th>순번</th>
										<th>상품명</th>
										<th>창고</th>
										<th>창고 진열대</th>
										<th>수량</th>
										<th>담당자</th>
										<th>입고일자</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(warehousingList)}" th:each="l, i : ${warehousingList}">
										<td th:text="${i.index+1}"></td>
										<td th:text="${l.goods.getGoodsName()}"></td>
										<td th:text="${l.warehouse.getWarehouseName()}"></td>
										<td th:text="${l.shelf.getShelfName()}"><span class="tag tag-success"></span></td>
										<td th:text="${l.warehousingQTY}"></td>
										<td th:text="${l.user.getName()}"></td>
										<td th:text="${l.regDate}"></td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="warehousingUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!----------------버튼---------------->
					

					<!--------------Modal-------------->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalCenterTitle"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">알림</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">정말 삭제 하시겠습니까?</div>
								<div class="modal-footer">
									<a href="warehousingList"><button type="button"
											class="btn btn-secondary">예</button></a>
									<button type="button" class="btn btn-info"
										data-dismiss="modal">아니오</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card -->
			</div>


	</section>