
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>거래처 수정</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">

</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a th:href="@{/main}">MAIN</a>
		> 기초관리 > 거래처 관리 > 거래처 수정
	</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<!-- 거래처 등록  -->
	<div class="row justify-content-center">
		<div class="col-md-6" style="margin-top: -1%">
			<div class="card card-primary">
				<div class="btn-sm bg-warning color-palette btn-block card-header ">
					<b><i class="fas fa-check"></i>ㅤ거래처 수정</b>
				</div>
				<form th:action="@{/basic_management/business/businessUpdate}" method="post">
					<div class="card-body" th:if="${not #lists.isEmpty(businesslnfo)}" th:each="l : ${businesslnfo}">
						<div class="form-group row">
							<label for="Name" class="col-sm-3 col-form-label"><code>*</code> 거래처명</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="businessName" id="businessName"
									th:value="${l.businessName}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 대표자명</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="partnerName" id="partnerName"
									th:value="${l.partnerName}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 대표자번호</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="partnerPhone" id="partnerPhone"
									th:value="${l.partnerPhone}" readonly="readonly">
							</div>
						</div>
		
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 사업장등록번호</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="registerNum" id="registerNum"
								th:value="${l.registerNum}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 구분</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="businessType" id="businessType"
								th:value="${l.businessType}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">업종</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="sectors" id="sectors"
									th:value="${l.sectors}" >
							</div>
						</div>
				
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">업태</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="status" id="status"
									th:value="${l.status}">
							</div>
						</div>
	
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">전화번호</label>
							<div class="col-sm-9">
								<input type="tel" class="form-control" name="callNum" id="callNum"
									th:value="${l.callNum}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">상세주소</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="address" id="address"
								th:value="${l.address}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">FAX</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="fax" id="fax"
								th:value="${l.fax}">
							</div>	
						</div>
			
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 담당자 이름</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="businessStaff" id="businessStaff"
									th:value="${l.businessStaff}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label"><code>*</code> 담당자 연락처</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="businessStaffPhone" id="businessStaffPhone"
									th:value="${l.businessStaffPhone}">
							</div>
						</div>
					
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">담당자 이메일</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="businessStaffEmail" id="businessStaffEmail"
									th:value="${l.businessStaffEmail}">
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">비고</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="note" id="note"
									th:value="${l.note}">
							</div>
						</div>
							<div style="display: none">
							<input type="text" class="form-control" name="businessCode" id="businessCode"
									th:value="${l.businessCode}">
						</div>
					</div>
					<!-- 수정버튼  -->
						<button type="submit" class="btn btn-m bg-warning  color-palette btn-block"><b>수정 완료</b></button>
				</form>
			</div>
		</div>
	</div>
</th:block>
</html>