<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>거래처 조회</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
		> 기초관리 > 거래처 관리
</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<!-- 주문 검색,등록버튼 -->
	<div class="col-md-13">
		<div class="card card-warning color-pallete">
			<div class="card-header">
				<h3 class="card-title">
					<b>거래처 조회</b>
				</h3>
			</div>
			<div class="card-body">
			<form th:action="@{/basic_management/business/businessList}" method="post">
				<div class="tab-content" id="custom-tabs-two-tabContent">
					<!-- 주문검색 -->
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="text-align: center;">검 색</label>
							<div class="col-sm-2">
								<select name="searchKey" class="form-control custom-select">
									<option value="">:: 선택  ::</option>
									<option value="businessType">구분</option>
									<option value="businessName">거래처명</option>
									<option value="partnerName">대표자</option>
									<option value="sectors">업종</option>
								</select>
							</div>
							<div class="input-group input-group-m" style="width: 450px;">
								<input type="text" name="searchValue"
									class="form-control float-right" placeholder="검색어를 입력해주세요.">
							</div>
							<div class="d-flex justify-content-center" style="margin-left: 10px">
							<button type="submit" class="btn btn-info">
								<b>검색</b>
							</button>
							</div>	
							<a th:href="@{/basic_management/business/businessInsert}">
							<button type="button" class="btn btn-info" style="margin-left: 5px">
								<b>등록</b>
							</button>
							</a>
						</div>
						<!-- 주문일자검색 -->
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">일자 검색</label>
							<div class="col-sm-2">
								<input type="date" name="startDt" id="date" class="form-control">	
							</div>
								<th:block> <b>~</b> </th:block>
							<div class="col-sm-2">
								<input type="date" name="endDt" id="date" class="form-control">
							</div>						
						</div>	
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- 거래처 리스트 화면 -->
	<div class="col-md-13" style="margin-top: 1%">
		<div class="card card-warning color-pallete">
			<div class="card-header p-0 pt-1"></div>
			<div class="card-body table-responsive p-0">
				<table class="table table-head-fixed text-nowrap text-center">
					<thead>
						<tr>
							<th>번호</th>
							<th>구분</th>
							<th>거래처명</th>
							<th>대표자명</th>
							<th>사업장등록번호</th>
							<th>업종</th>
							<th>등록일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(businessList)}"
							th:each="l, i : ${businessList}">
							<td th:text="${i.index+1}"></td>
							<td th:text="${l.businessType}"></td>
							<td th:text="${l.businessName}"></td>
							<td th:text="${l.partnerName}"></td>
							<td th:text="${l.registerNum}"></td>
							<td th:text="${l.sectors}"></td>
							<td th:text="${l.regDate}"></td>

							<!-- 수정버튼  -->
							<td class="text-right py-0 align-middle">
								<div class="btn-group btn-group-sm">
									<a th:href="@{/basic_management/business/businessUpdate(businessCode=${l.businessCode})}" class="btn btn-info"> 
										<i class="fas fa-highlighter"></i>
									</a>
									<!--삭제 버튼  -->
									<button type="button" id="bsdelectBtn" class="btn btn-danger"> <i class="fas fa-trash"></i>
									</button>									

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function(){
			$(document).on('click', '#bsdelectBtn', function(){
				alert('정말 삭제하시겠습니까?');
				$('#updateForm').submit();
			});
		});
	</script>
</th:block>
</html>