
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>거래처 등록</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
	> 기초관리 > 거래처 관리 > 등록
</th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block layout:fragment="customContents">

	<!-- 거래처 등록  -->
	<div class="row justify-content-center">
		<div class="col-md-8" style="margin-top: -1%">
			<div class="card card-primary">
				<div class="btn-sm bg-warning color-palette btn-block card-header ">
					<b><i class="fas fa-check"></i>ㅤ거래처 등록</b>
				</div>

				<div class="card-body">
					<div class="form-group row">
						<label for="Name" class="col-sm-3 col-form-label">* 거래처명</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Name"
								placeholder="필수입력해주세요.">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 대표자명</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="businesName"
								placeholder="필수입력해주세요.">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 사업장등록번호</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesPartnerNum"
								placeholder="필수입력해주세요.">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">업태</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesStatus"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">업종</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesSectors"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 담당자 이름</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesStaff"
								placeholder="필수입력해주세요.">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 전화번호</label>
						<div class="col-sm-9">
							<input type="tel" class="form-control" id="businesPhoneNum"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 이메일</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="businesStaffEmail"
								placeholder="...">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">* 상세주소</label>
						<div class="col-sm-9">

							<!--카카오톡 우편번호 api  -->
							<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
							<script charset="UTF-8" type="text/javascript"
								src="//t1.daumcdn.net/postcode/api/core/211103/1635999227231/211103.js"></script>
							<script src="/resources/js/addressapi.js"></script>
							<div class="form-group">
								<input class="form-control" style="width: 40%; display: inline;"
									placeholder="우편번호" name="addr1" id="addr1" type="text"
									readonly="readonly">
								<button type="button" class="btn btn-default"
									onclick="execPostCode();">
									<i class="fa fa-search"></i> 우편번호 찾기
								</button>
							</div>
							<div class="form-group">
								<input class="form-control" style="top: 5px;"
									placeholder="도로명 주소" name="addr2" id="addr2" type="text"
									readonly="readonly">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="상세주소" name="addr3"
									id="addr3" type="text">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">주거래 통장</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesMainAccount"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">계좌번호</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesAccountNum"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">예금주</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="businesAccountHolder"
								placeholder="...">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">등록일자</label>
						<div class="col-sm-9">
							<input type="date" class="form-control" id="regDate"
								placeholder="...">
						</div>
					</div>
				</div>
				<!-- 등록버튼  -->
				<a th:href="@{/basic_management/business/businessList}"
					class="btn btn-m bg-warning color-palette btn-block"><b>등록</b></a>
			</div>
		</div>
	</div>


</th:block>
</html>