<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<aside id="sidebarMode" class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a th:href="@{/main}" class="brand-link text-center"> 
			<i class="fab fa-raspberry-pi"></i>
			<span class="brand-text font-weight-light">Goods JOC</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img th:src="@{/image/user2.png}" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info" th:if="${session.SID != null}">
					<a th:href="@{/system_management/user/userInfo}" class="d-block" th:text="${session.SNAME}"></a>
					(<a th:href="@{/system_management/mart/martInfo}" th:text="${session.SMARTNAME}"></a> <th:block th:text="${session.SLEVELNAME}"></th:block>)
				</div>
			</div>
			
			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column team-text1" data-widget="treeview" role="menu" data-accordion="false">
					<!-- 기초관리-매장,직원,거래처,시설 -->
					<li class="nav-item">
						<a href="#" class="nav-link"> 
							<i class="nav-icon fas fa-circle"></i>
							<p> 기초관리 <i class="right fas fa-angle-left"></i> </p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/system_management/mart/martInfo}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>매장 정보 </p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/system_management/user/userList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>직원 관리</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/basic_management/business/businessList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>거래처 관리</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/basic_management/facility/facilityList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>시설 관리</p>
								</a>
							</li>
						</ul>
					</li>

					<!-- 상품관리-상품,주문,품질 -->
					<li class="nav-item">
						<a href="#" class="nav-link"> 
							<i class="nav-icon fas fa-circle"></i>
							<p>
								상품관리 <i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/product_management/goods/goodsCate}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>카테고리</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/product_management/goods/goodsInsert}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>등록</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/product_management/order/orderInsert}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>주문</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/product_management/goods/goodsList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>조회</p>
								</a>
							</li>
						</ul>
					</li>						

					<!-- 거래관리-매입,매출 -->
					<li class="nav-item">
						<a href="#" class="nav-link"> 
							<i class="nav-icon fas fa-circle"></i>
							<p> 거래관리 <i class="right fas fa-angle-left"></i> </p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/trade_management/sales/salesInsert}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>매출 등록</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/trade_management/sales/salesList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>매출 및 영수증</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/trade_management/sales/purchaseList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>매입 및 거래명세서</p>
								</a>
							</li>
						</ul>
					</li>

					<!-- 재고-입출고,재고이동,재고현황 -->
					<li class="nav-item">
						<a href="#" class="nav-link"> 
							<i class="nav-icon fas fa-circle"></i>
							<p> 재고관리 <i class="right fas fa-angle-left"></i> </p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/stock_management/warehousing/warehousingInsert}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>입고</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/stock_management/display/displayList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>재고 이동</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/stock_management/goodsReturn/returnInsert}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>반품</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/stock_management/disposal/disposalList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>폐기</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/stock_management/warehousing/warehousingList}" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>재고 현황</p>
								</a>
							</li>
						</ul>
					</li>

					<!-- 현황조회 -->
					<li class="nav-item">
						<a href="#" class="nav-link"> 
							<i class="nav-icon fas fa-circle"></i>
								<p> 현황관리 <i class="right fas fa-angle-left"></i> </p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="#" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>상품 통계</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"> 
									<i class="far fa-circle nav-icon"></i>
									<p>거래처 통계</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>
</th:block>

</html>