<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<th:block th:if="${session.SLEVEL != '1' && session.SLEVEL != '6' && session.SLEVEL != '7'}">
		<aside id="sidebarMode" class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a th:href="@{/main}" class="brand-link"> 
				<img src="/image/KakaoTalk_20211227_192452407.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">Goods JOC</span>
			</a>
	
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						<img th:src="@{/image/user2.png}" class="img-circle elevation-2" alt="User Image">
					</div>
					<div class="info" th:if="${session.SID != null}">
						<a th:href="@{/system_management/user/userInfo}" class="d-block" th:text="${session.SNAME}"></a>
						<span style="color: #c2c7d0;">(</span>
						<a th:href="@{/system_management/mart/martInfo}" th:text="${session.SMARTNAME}"></a>
						<span style="color: #c2c7d0;">-</span>
						<span style="color: #c2c7d0;" th:text="${session.SLEVELNAME}"></span>
						<span style="color: #c2c7d0;">)</span>
					</div>
				</div>
				
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column team-text1" data-widget="treeview" role="menu" data-accordion="false">
						<!-- 기초관리-매장,직원,거래처,시설 -->
						<li class="nav-item">
							<a href="#" class="nav-link"> 
								<i class="nav-icon fas fa-edit"></i>
								<p> 기초관리 <i class="right fas fa-angle-left"></i></p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/system_management/mart/martInfo}" class="nav-link"> 
										<i class="far fa-circle nav-icon"></i>
										<p>매장 정보</p>
									</a>
								</li>
								<th:block th:if="${session.SLEVEL != '5' }">
									<li class="nav-item">
										<a th:href="@{/system_management/user/userList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>직원 관리</p>
										</a>
									</li>
								</th:block>
								<th:block th:if="${session.SLEVEL != '1' && session.SLEVEL != '5' && session.SLEVEL != '6' && session.SLEVEL != '7'}">
									<li class="nav-item">
										<a th:href="@{/basic_management/business/businessList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>거래처 관리</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/basic_management/facility/facilityList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>시설 관리</p>
										</a>
									</li>
								</th:block>
							</ul>
						</li>
	
						<!-- 상품관리-상품,주문,품질 -->
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-gift"></i>
									<p>
										상품관리 <i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/product_management/goods/goodsCate}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>카테고리</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/product_management/goods/goodsInsert}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>상품 등록</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/product_management/goods/goodsList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>상품 조회</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/product_management/order/orderInsert}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>상품 주문</p>
										</a>
									</li>
								</ul>
							</th:block>
						</li>						
	
						<!-- 거래관리-매입,매출 -->
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-coins"></i>
									<p> 거래관리 <i class="right fas fa-angle-left"></i> </p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/product_management/order/orderList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>주문관리</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/trade_management/sales/salesInsert}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>매출 등록</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/trade_management/sales/salesList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>매출 및 영수증</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/trade_management/purchase/purchaseList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>매입 및 거래명세서</p>
										</a>
									</li>
								</ul>
							</th:block>
						</li>
	
						<!-- 재고-입출고,재고이동,재고현황 -->
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-boxes"></i>
									<p> 재고관리 <i class="right fas fa-angle-left"></i> </p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/stock_management/warehousing/warehousingInsert}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>입고  등록</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/stock_management/display/displayList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>재고 이동</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/stock_management/warehousing/warehousingList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>재고 현황</p>
										</a>
									</li>
								</ul>
							</th:block>	
						</li>
	
						<!-- 현황조회 (구현하지 못함)
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-chart-bar"></i>
										<p> 현황관리 <i class="right fas fa-angle-left"></i> </p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/report_management/goodsReport/goodsStatistics}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>상품 통계</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/report_management/businessReport/businessStatistics}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>거래처 통계</p>
										</a>
									</li>
								</ul>
							</th:block>
						</li> -->
					</ul>
				</nav>
			</div>
		</aside>
	</th:block>

	<!-- 개발사용 메뉴 및 화면구성 -->
	<th:block th:unless="${session.SLEVEL != '1' && session.SLEVEL != '6' && session.SLEVEL != '7'}">
		<aside id="sidebarMode" class="main-sidebar sidebar-dark-primary bg-navy elevation-4">
			<!-- Brand Logo -->
			<a th:href="@{/main}" class="brand-link"> 
				<img src="/image/KakaoTalk_20211227_192452407.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">Goods JOC</span>
			</a>
	
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						<img th:src="@{/image/user2.png}" class="img-circle elevation-2" alt="User Image">
					</div>
					<div class="info" th:if="${session.SID != null}">
						<a th:href="@{/system_management/user/userInfo}" class="d-block" th:text="${session.SNAME}"></a>
						<span style="color: #c2c7d0;">(</span>
						<a th:href="@{/system_management/mart/martInfo}" th:text="${session.SMARTNAME}"></a>
						<span style="color: #c2c7d0;">-</span>
						<span style="color: #c2c7d0;" th:text="${session.SLEVELNAME}"></span>
						<span style="color: #c2c7d0;">)</span>
					</div>
				</div>
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- 기초관리-매장,직원,거래처,시설 -->
						<li class="nav-item">
							<a href="#" class="nav-link"> 
								<i class="nav-icon fas fa-edit"></i>
								<p> 기초관리 <i class="right fas fa-angle-left"></i></p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/system_management/mart/martInfo}" class="nav-link"> 
										<i class="far fa-circle nav-icon"></i>
										<p>매장 정보</p>
									</a>
								</li>
								<th:block th:if="${session.SLEVEL != '5' }">
									<li class="nav-item">
										<a th:href="@{/system_management/user/userList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>직원 관리</p>
										</a>
									</li>
								</th:block>
							</ul>
						</li>
								<!-- SW개발사용 사업장관리메뉴 -->
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-briefcase"></i>
										<p> 사업장관리 <i class="right fas fa-angle-left"></i> </p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/system_management/mart/sw_martInsert}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>매장 등록</p>
										</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/system_management/mart/sw_martList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>매장 조회</p>
										</a>
									</li>
								</ul>
							</th:block>
						</li>
						<!-- SW개발사용 사업장관리메뉴 -->
						<li class="nav-item">
							<th:block th:if="${session.SLEVEL != '5'}">
								<a href="#" class="nav-link"> 
									<i class="nav-icon fas fa-user-friends"></i>
										<p> 사용자관리 <i class="right fas fa-angle-left"></i> </p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/system_management/user/sw_userList}" class="nav-link"> 
											<i class="far fa-circle nav-icon"></i>
											<p>유저 조회</p>
										</a>
									</li>
								</ul>
							</th:block>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
	</th:block>
</th:block>
</html>