<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>매장 정보</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
	> 기초관리 > 매장정보 > 수정
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 
		
	<div class="row">
		<div class="col-9 mx-auto">
			<div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">매장 정보 수정</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="card-body">
						<div class="form-group row">
							<label for="martCode" class="col-sm-2 col-form-label">매장 고유코드</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martCode" readonly="readonly">
								<code> 매장 고유코드는 변경하실 수 없습니다 개발사에게 연락하십시오 (</code>
								<code><i class="fas fa-phone-alt"></i> 000-0000-0000)</code>
							</div>
						</div>
						<div class="form-group row">
							<label for="martName" class="col-sm-2 col-form-label">사업장명</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martName">
							</div>
						</div>
						<div class="form-group row">
							<label for="martPartnerName" class="col-sm-2 col-form-label">대표자</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martPartnerName">
							</div>
						</div>
						<div class="form-group row">
							<label for="martRegNum" class="col-sm-2 col-form-label">사업자 등록번호</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martRegNum">
							</div>
						</div>
						<div class="form-group row">
							<label for="martPhoneNum" class="col-sm-2 col-form-label">사업장 연락처</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martPhoneNum">
							</div>
						</div>
						<div class="form-group row">
							<label for="martAddress" class="col-sm-2 col-form-label">주소</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martAddress">
							</div>
						</div>
						<div class="form-group row">
							<label for="martEmail" class="col-sm-2 col-form-label">이메일</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martEmail">
							</div>
						</div>
						<div class="form-group row">
							<label for="martEmail" class="col-sm-2 col-form-label">FAX</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martEmail">
							</div>
						</div>
						<div class="form-group row">
							<label for="martSectors" class="col-sm-2 col-form-label">업종</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martSectors">
							</div>
						</div>
						<div class="form-group row">
							<label for="martStatus" class="col-sm-2 col-form-label">업태</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martStatus">
							</div>
						</div>
						<div class="form-group row">
							<label for="martStatus" class="col-sm-2 col-form-label">담당자</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martStatus">
							</div>
						</div>
						<div class="form-group row">
							<label for="martStatus" class="col-sm-2 col-form-label">담당자 연락처</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martStatus">
							</div>
						</div>
						<div class="form-group row">
							<label for="martStatus" class="col-sm-2 col-form-label">담당자 이메일</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martStatus">
							</div>
						</div>
					</div>	
					<div class="card-footer">
						<a th:href="@{/system_management/mart/martInfo}">
							<button type="button" class="btn btn-warning float-right">수정완료</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
		
</th:block>
</html>