<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
<!-- 페이지 제목 공간 -->
<th:block layout:fragment="customTitle">
	<title>매장 정보</title>
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
	<a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
		> 기초관리 > 매정정보
</th:block>

<!-- 메인 컨텐츠 영역 -->		
<th:block layout:fragment="customContents">	       	 
		
	<div class="row" >
		<div class="col-9 mx-auto">
			<div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">매장 정보</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="card-body" th:if="${not #lists.isEmpty(martInfo)}" th:each="l : ${martInfo}">
						<div class="form-group row">
							<label for="martCode"  class="col-sm-2 col-form-label">매장 고유코드</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martCode" th:value="${l.martCode}" readonly="readonly" >
							</div>
						</div>
						<div class="form-group row">
							<label for="martName" class="col-sm-2 col-form-label">사업장명</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="martName" th:value="${l.martName}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="partnerName" class="col-sm-2 col-form-label">대표자</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="partnerName" th:value="${l.partnerName}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="registerNum" class="col-sm-2 col-form-label">사업자 등록번호</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="registerNum" th:value="${l.registerNum}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="address" class="col-sm-2 col-form-label">주소</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="address" th:value="${l.address}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="callNum" class="col-sm-2 col-form-label">사업장 연락처</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="callNum" th:value="${l.callNum}" readonly="readonly">
							</div>
						</div>
				
						<div class="form-group row">
							<label for="FAX" class="col-sm-2 col-form-label">FAX</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="FAX" th:value="${l.fax}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="sectors" class="col-sm-2 col-form-label">업종</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="sectors" th:value="${l.sectors}" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label for="status" class="col-sm-2 col-form-label">업태</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="status" th:value="${l.status}" readonly="readonly">
							</div>
						</div>
					</div>	
					<div class="card-footer">
						<th:block th:if="${session.SLEVEL == '1' || session.SLEVEL == '2'}">
							<a th:href="@{/system_management/mart/martUpdate}">
								<button type="button" class="btn btn-warning float-right" >수정하기</button>
							</a>
						</th:block>
					</div>
				</form>
			</div>
			
		</div>
	</div>
		
</th:block>
</html>