<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>재고이동 관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a th:href="@{/main}">MAIN</a>
      > 재고관리 > 재고이동조회
   </th:block>
<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<!--------------------재고 검색 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header">
						<h3 class="card-title">
							<b>재고이동 조회</b>
						</h3>
					</div>
					<div class="card-body">
						<div class="tab-content" id="custom-tabs-two-tabContent">
							<!-- 재고이동 -->
					<form th:action="@{/stock_management/display/searchDisplayList}" method="post">
							<div class="row">
								<label class="col-sm-1 col-form-label">이동검색</label>
								<div class="col-sm-2">
									<select name="searchKey" class="form-control custom-select">
										<option value="goodsName">상품명</option>
										<option value="userName">담당자</option>
										<option value="warehouseName">창고</option>
										<option value="showcasePlace">판매진열대</option>
									</select>
								</div>
								<div class="input-group input-group-m" style="width: 500px;">
									<input type="text" name="searchValue" style="margin-left: 3%"
										class="form-control float-right"
										placeholder="검색">
								</div>
									
							</div>
							<!-----------------이동일검색------------------>
							<div class="row" style="margin-top: 1%">
								<!-- 주문일자검색 -->
								<label class="col-sm-1 col-form-label">이동일</label>
								<div class="col-sm-2">
									<input type="date" name="startDt" id="date" class="form-control">
								</div>
								<span style="font-weight: bolder;">~</span>
								<div class="col-sm-2">
									<input type="date" name="endDt" id="date" class="form-control">
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn btn-block bg-gradient-warning btn-lg" style="width: 225px">
										<b>검색</b>
									</button> 
								</div>
								<div class="col-sm-1">
								<a th:href="@{/stock_management/display/displayList}" type="button" class="btn btn-block bg-gradient-warning btn-lg">
									<i class="fas fa-redo-alt"></i>
								</a>
							</div>
						<div class="col-2" style="margin: -4% 0 0 10%">
							<a th:href="@{/stock_management/goodsReturn/returnList}" class="btn btn-block bg-gradient-info btn-lg">반품</a>
							<a th:href="@{/stock_management/disposal/disposalList}" class="btn btn-block bg-gradient-info btn-lg">폐기</a>
						</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
			<!-------------------재고이동조회 폼--------------------->
			<div class="col-12">
				<div class="card card-warning card-tabs">
					<div class="card-header p-0 pt-1"></div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0" style="height: 300px;">
						<div class="col-12">
							<table class="table table-hover text-nowrap text-center">
								<thead>
									<tr>
										<th>번호</th>
										<th>상품명</th>
										<th>출고 창고</th>
										<th>출고 진열대</th>
										<th>판매 진열대</th>
										<th>이동 수량</th>
										<th>담당자</th>
										<th>이동일자</th>
										<th></th>
			 						</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(displayList)}" th:each="d, i : ${displayList}">
										<td th:text="${i.index+1}"></td>
										<td th:text="${d.goodsName}"></td>
										<td th:text="${d.warehouseName}"></td>
										<td th:text="${d.shelfName}"></td>
										<td th:text="${d.showcasePlace}"></td>
										<td th:text="${d.displayQTY}"></td>
										<td th:text="${d.userName}"></td>
										<td th:text="${d.regDate}"></td>
										<td class="text-right py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a href="displayUpdate" class="btn btn-info"><i
													class="fas fa-eye"></i></a> <a href="#" class="btn btn-danger"
													data-toggle="modal" data-target="#exampleModalCenter"><i
													class="fas fa-trash"></i></a>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
					<!----------------버튼---------------->


					<!--------------Modal-------------->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalCenterTitle"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">알림</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">정말 삭제 하시겠습니까?</div>
								<div class="modal-footer">
									<a href="displayList"><button type="button"
											class="btn btn-secondary">예</button></a>
									<button type="button" class="btn btn-info"
										data-dismiss="modal">아니오</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card -->
			</div>

		</div>
	</section>
	</th:block>
	</html>