<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
   <title>매입 관리</title>
</th:block>
<!-- 로케이션 제목 -->
<th:block layout:fragment="locationTitle">
</th:block>
<!-- 로케이션 위치 -->
<th:block layout:fragment="locationPlace">
   <a id="main" th:href="@{/main}" class="joc-text1"><b>MAIN</b></a>
      > 거래관리 > 매입조회
   </th:block>

<th:block layout:fragment="customContents">
   <div class="card card-warning">
		<div class="card-header">
			<h3 class="card-title">
				<b>매입정보조회</b>
			</h3>
		</div>
		<div class="card-body table-responsive">
			<form th:action="@{/trade_management/purchase/searchPurchaseList}" method="post">
				<div class="tab-content row" id="custom-tabs-two-tabContent">
					<div class="col-10">
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">공급처</label>
							<div class="col-sm-3">
								<div style="display:none">
									<label>거래처코드</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="businessCode" id="businessCodeInput">
									</div>
								</div>
								<div class="input-group">
									<input type="text" id="businessNameInput" class="form-control text-center insertCheck" readonly>
									<div class="input-group-append">
										<button type="button" id="searchBusinessBtn" class="btn btn-default" data-toggle="modal" data-target="#businessModal">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							
							<div class="col-sm-1"></div>
							
							<label class="col-sm-1 col-form-label">거래일</label>
							<div class="col-sm-2">
								<input name="startDate" type="date" class="form-control text-center">
							</div>
							<div class="col-sm-1 text-center">
								<b>~</b>
							</div>	
							<div class="col-sm-2">
								<input name="endDate" type="date" class="form-control text-center">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">담당자</label>
							<div class="col-sm-3">
								<div class="input-group mb-2">
									<input type="text" id="staffNameInput" class="form-control text-center" readonly>
									<div style="display:none">
										<label>직원 아이디</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="id" id="staffIdInput">
										</div>
									</div>
									<div class="input-group-append">
										<button type="button" id="searchStaffBtn" class="btn btn-default" data-toggle="modal" data-target="#staffModal">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							
							<div class="col-sm-1"></div>						
							
							<label class="col-sm-1 col-form-label">거래금액</label>
							<div class="col-sm-2">
								<input name="minPrice" type="number" class="form-control text-center" value=0>
							</div>
							<div class="col-sm-1 text-center">
								<b>~</b>
							</div>	
							<div class="col-sm-2">
								<input name="maxPrice" type="number" class="form-control text-center" value=0>
							</div>
						</div>
						<div class="form-group row" style="margin-bottom: -10px;">
							<label class="col-sm-1 col-form-label">상태</label>
							<div class="col-sm-2">
								<select name="state" class="form-control text-center">
									<option value="">전체보기</option>
									<option value="1">미수령</option>
									<option value="2">수령완료</option>
								</select>
							</div>
							
							<div class="col-sm-1"></div>
							
							<label class="col-sm-1 col-form-label text-center">주문번호</label>
							<div class="col-sm-2">
								<input type="number" name="orderNum" class="form-control text-center">
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-block bg-gradient-warning btn-lg"><b>검색</b></button>
							</div>
							<div class="col-sm-1">
								<a th:href="@{/product_management/goods/goodsList}" type="button" class="btn btn-block bg-gradient-warning btn-lg">
									<i class="fas fa-redo-alt"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-2" align="center" style="margin-bottom: -15px; margin-top: -5px; margin-left:-5px">
						<th:block th:if="${not #lists.isEmpty(purchaseDatePrice)}" th:each="l : ${purchaseDatePrice}">
							<div class="info-box mb-3 bg-info">
								<span class="info-box-icon bg-teal disabled color-palette elevation-1">
									<i class="fas fa-shopping-cart"></i>
								</span>
								<div class="info-box-content">
									<span class="info-box-text"> <b class="nowMonth"></b> 월 매입 건수</span> 
									<span class="info-box-number"> <b th:text="${l.purchaseCnt}"></b> 건</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<div class="info-box mb-3 bg-info" style="margin-top: -10px;">
								<span class="info-box-icon bg-teal elevation-1">
									<i class="fas fa-won-sign"></i>
								</span>
								<div class="info-box-content">
									<span class="info-box-text"> <b class="nowMonth"></b> 월 총매입금</span> 
									<span class="info-box-number"> <b class="money" th:text="${l.purchasePrice}"></b></span>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</form>
		</div>
	</div>

    <!-------------------매입출 조회 폼--------------------->
	<div class="card card-warning card-tabs">
		<div class="card-header p-0 pt-1"></div>
		<!-- /.card-header -->
		<div class="card-body table-responsive p-0" style="max-height-: 500px;">

			<div class="col-12">
				<table class="table table-hover text-nowrap text-center">
					<thead>
						<tr>
							<th>주문번호</th>
							<th>공급처</th>
							<th>매입금액</th>
							<th>상태</th>
							<th>거래상세</th>
							<th>매입일시</th>
							<th>담당자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(purchaseList)}" th:each="p : ${purchaseList}">
							<td th:text="${p.orderNum}"></td>
							<td th:text="${p.business.getBusinessName()}"></td>
							<td class="money" th:text="${p.totalOrderPrice}"></td>
							<td class="delivery" th:text="${p.deliveryDate}"></td>
							<td>
								<button type="button" id="orderDetailBtn" class="btn btn-outline-warning btn-xs"
									 th:data-orderCode="${p.orderCode}" data-toggle="modal"data-target="#exampleModalStatement">
									 거래명세서
								</button>
							</td>
							<td th:text="${p.purchaseDate}"></td>
							<td th:text="${p.user.getName()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!--------------Modal 거래명세서-------------->
		<div class="modal fade" id="exampleModalStatement" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalStatementTitle"
			aria-hidden="true">
			<div class="modal-dialog"
				style="max-width: 100%; width: auto; display: table;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalStatementTitle">거래명세서</h5>
						<b class="text-danger">[공급받는자 보관용]</b>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="invoice p-3 mb-3">
							<!-------------클릭 이벤트------------->
							<div class="row no-print">
								<div class="col-12">
									<a href="#" rel="noopener" target="_blank"
										class="btn btn-default float-right"> <i
										class="fas fa-print"></i>Print
									</a>
									<button type="button" class="btn btn-primary float-right"
										style="margin-right: 5px;">
										<i class="fas fa-download"></i> PDF
									</button>
									<div class="invoice-col"
										style="margin-bottom: 20px; font-size: 18px;">
										<div>
											<b>관리번호:</b> <span id="orderNum"> </span>
										</div>
										<div>
											<b>거래일시:</b> <span id="purchaseDate"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row invoice-info">

								<div class="col-sm-1 invoice-col"></div>
								<div class="col-sm-3 invoice-col" style="margin-bottom: 10px;">
									<table>
										<thead>
											<tr>
												<th>구분</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>사업장명</th>
											</tr>
											<tr>
												<th>사업자번호</th>
											</tr>
											<tr>
												<th>대표자</th>
											</tr>
											<tr>
												<th>연락처</th>
											</tr>
											<tr>
												<th>주소</th>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-4 invoice-col">
									<table>
										<thead>
											<tr>
												<th>공급 받는 자</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td th:text="${session.SMARTINFO.getMartName()}">사업장명</td>
											</tr>
											<tr>
												<td th:text="${session.SMARTINFO.getRegisterNum()}">사업자번호</td>
											</tr>
											<tr>
												<td th:text="${session.SMARTINFO.getPartnerName()}">대표자</td>
											</tr>
											<tr>
												<td th:text="${session.SMARTINFO.getCallNum()}">연락처</td>
											</tr>
											<tr>
												<td th:text="${session.SMARTINFO.getAddress()}">주소</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-4 invoice-col">
									<table>
										<thead>
											<tr>
												<th>공급처</th>
											</tr>
										</thead>
										<tbody id="businessTable">

										</tbody>
									</table>
								</div>
							</div>

							<!--------------본문 row------------->
							<div class="row">
								<div class="col-12 table-responsive">
									<table class="table table-striped text-center">
										<thead>
											<tr>
												<th>번호</th>
												<th>상품명</th>
												<th>유형</th>
												<th>단가</th>
												<th>수량</th>
												<th>공급가액</th>
												<th>부가세</th>
												<th>합계</th>
											</tr>
										</thead>
										<tbody id="detailTable">
										</tbody>
									</table>
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->

							<!------------하단-------------->
							<div class="row">
								<!-- accepted payments column -->
								<div class="col-6">
									<p class="lead">
										<b>결제 방법</b>
									</p>
									<img src="../../dist/img/credit/visa.png" alt="Visa">
									<img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
									<img src="../../dist/img/credit/american-express.png" alt="American Express"> 
									<img src="../../dist/img/credit/paypal2.png" alt="Paypal">
									<p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
										<textarea class="form-control" rows="3" placeholder="참고사항"></textarea>
									</p>
								</div>
								<!-- /.col -->
								<div class="col-6">
									<p class="lead">
										<b>총 결제금액</b>
									</p>

									<div class="table-responsive">
										<table class="table">
											<tbody>
												<tr>
													<th style="width: 50%">공급가액:</th>
													<td id="totalSupplyPrice"></td>
												</tr>
												<tr>
													<th>부가세:</th>
													<td id="totalVAT"></td>
												</tr>
												<tr>
													<th>총합계:</th>
													<td id="totalSumPrice"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---------------버튼-------------->
					<div class="modal-footer">
						<a href="purchaseList">
							<button type="button" class="btn btn-secondary">예</button>
						</a>
						<button type="button" class="btn btn-warning" data-dismiss="modal">아니오</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.card -->

	<!-- 거래처 검색 모달  -->
	<div class="modal fade" id="businessModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header bg-warning">
					<h4 class="modal-title">거래처 검색</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
						<div class="row">
							<div class="col-sm-12">
								<table style="width:100%" id="dataTableAjax2" class="text-center table table-bordered table-hover dataTable dtr-inline"
									role="grid" aria-describedby="example2_info">
									<thead>
										<tr style="width:540px;" role="row">
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
												구분</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending"aria-sort="ascending">
												거래처명
											</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending"aria-sort="ascending">
												대표자
											</th>
											<th tabindex="0" rowspan="1" colspan="1">
													선택하기
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 거래처 검색 모달  -->
	<div class="modal fade" id="staffModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header bg-warning">
					<h4 class="modal-title"><b>직원 검색</b></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
						<div class="row">
							<div class="col-sm-12">
								<table style="width:100%" id="staffTable" class="text-center table table-bordered table-hover dataTable dtr-inline"
									role="grid" aria-describedby="example2_info">
									<thead>
										<tr style="width:540px;" role="row">
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
												권한</th>
											<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column descending"aria-sort="ascending">
												이름
											</th>
											<th tabindex="0" rowspan="1" colspan="1">
													선택하기
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function(){
			//직원 조회 AJax
			$(document).on('click', '#searchStaffBtn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#staffTable').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/system_management/user/searchStaffModal',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ data: "level.levelName"},
						{ data: "name"},
						{ data: ""},
					],
					columnDefs: [
						{
							targets: [2],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn2 = '<button type="button" data-dismiss="modal" class="btn btn-info staffPickBtn" data-staffName="'+ row.name +'" data-staffId="'+ row.id +'">선택</button>';
								return htmlbtn2;
							}
						}
					]
				});
			});
			
			//직원 선택
			$(document).on('click', '.staffPickBtn', function(){
				var staffNamePick = $(this).attr('data-staffName');
				var staffIdPick = $(this).attr('data-staffId');
				$('#staffNameInput').val(staffNamePick);
				$('#staffIdInput').val(staffIdPick);
			});
			
			//거래처리스트 조회 AJax
			$(document).on('click', '#searchBusinessBtn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#dataTableAjax2').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/basic_management/business/searchBusinessModal',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ data: "businessType"},
						{ data: "businessName"},
						{ data: "partnerName"},
						{ data: "businessCode"}								
					],
					columnDefs: [
						{
							targets: [3],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn2 = '<button type="button" data-dismiss="modal" class="btn btn-info businessPickBtn" data-businessCode="'+ row.businessCode +'" data-businessName="'+ row.businessName +'">선택</button>';
								return htmlbtn2;
							}
						}
					]
				});
			});
			
			//거래처 선택
			$(document).on('click', '.businessPickBtn', function(){
				var businessCodePick = $(this).attr('data-businessCode');
				var businessNamePick = $(this).attr('data-businessName');
				console.log(businessCodePick);
				console.log(businessNamePick);
				$('#businessCodeInput').val(businessCodePick);
				$('#businessNameInput').val(businessNamePick);
			});
			
			//배송상태
			var delivery = $('.delivery')
			console.log(delivery);
			for(var i=0; i<delivery.length; i++){
				var deliveryDate = new Date($(delivery[i]).text());
				var nowDate = new Date();
				if(deliveryDate < nowDate){
					$(delivery[i]).text('수령완료').css('color', 'blue');
				}else{
					$(delivery[i]).text('미수령').css('color', 'red');
				}
			}
			
			//현재 월 표시하기
			var now = new Date();
			var nowMonth = now.getMonth()+1;
			$('.nowMonth').text(nowMonth);
			
			//거래명세서 클릭시 데이터 가져오기
			$(document).on('click', '#orderDetailBtn', function(){
				var orderCode = $(this).attr('data-orderCode');
				
				//매입정보 가져오기
				var request = $.ajax({
					url: '/trade_management/purchase/purchaseInfo',
					method: 'POST',
					data: {'orderCode' : orderCode},
					dataType: 'json'
				});
				request.done(function(data){
					console.log("매입: " + data);
					//공급처 정보 넣어주기
					var businessTable = $('#businessTable');
					var businessName = data.business.businessName;
					var regNum = data.business.registerNum;
					var partnerName = data.business.partnerName;
					var callNum = data.business.callNum;
					var businessAddr = data.business.address;
					//초기화
					businessTable.empty();
					//값 담기
					businessTable.append("<tr><td>" + businessName + "</td></tr>");
					businessTable.append("<tr><td>" + regNum + "</td></tr>");
					businessTable.append("<tr><td>" + partnerName + "</td></tr>");
					businessTable.append("<tr><td>" + callNum + "</td></tr>");
					businessTable.append("<tr><td>" + businessAddr + "</td></tr>");
					//주문번호 넣어주기
					var orderNum = data.orderNum;
					$('#orderNum').text(orderNum);
					
					//날짜 넣어주기
					var purchaseDate = data.purchaseDate;
					$('#purchaseDate').text(purchaseDate);
				});
				//매입 상세정보 가져오기
				var detailRequest = $.ajax({
					url: '/trade_management/purchase/purchaseDetailList',
					method: 'POST',
					data: {'orderCode' : orderCode},
					dataType: 'json'
				});
				detailRequest.done(function(data){
					console.log("매입상세: " + data);
					var totalSupplyPrice = 0;
					var totalVAT = 0;
					var totalSumPrice = 0;
					//초기화
					$('#detailTable').empty();
					//값 담기
					for(var i=0; i<data.length; i++){
						$('#detailTable').append("<tr><td>" + (i+1) + "</td><td>" 
							+ data[i].goods.goodsName + "</td><td>"
							+ data[i].goods.taxType + "</td><td>"
							+ data[i].purchasePrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + "원</td><td>"
							+ data[i].qty + "개</td><td>"
							+ data[i].supplyPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + "원</td><td>"
							+ data[i].vat.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + "원</td><td>"
							+ data[i].totalPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + "원</td></tr>");
						totalSupplyPrice += Number(data[i].supplyPrice);
						totalVAT += Number(data[i].vat);
						totalSumPrice += Number(data[i].totalPrice);
					}
					$('#totalSupplyPrice').text(totalSupplyPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")+"원");
					$('#totalVAT').text(totalVAT.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")+"원");
					$('#totalSumPrice').text(totalSumPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")+"원");
				});
			});
		//제이쿼리 끝
		});
	</script>
</th:block>
</html>